html {
    box-sizing: border-box;
    
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
    
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

section {
    padding: 3rem 0;
}

@import "lists";

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

#featured-blog {

    position: fixed;
    right: -400px;
    top: 240px;
    display: none;
    background: #FFF;
    box-shadow: inset 0px 0px 0px 2px #c1c1c1;
    z-index: 7;
    overflow: hidden;
    .row{
        flex:1;
    }
    .text {
        padding: 1rem 0 1rem 2rem;
        align-self: center;
        h3 {
            margin: 0;
            margin-bottom: 0.5rem;
        }
        a {
            font-weight: bold;
        }
    }
    .image {
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .close {
        z-index: 8;
        position: absolute;
        right: 10px;
        font-weight: bolder;
        font-size: 24px;
        cursor: pointer;
        
    }
    width: 200px;
    height: 100px;
    @media screen and (min-width: 768px) {
        width: 300px;
        height: 150px;
    }
    @media screen and (min-width: 1192px) {
        width: 360px;
        height: 200px;
    }

}



.cta {
    padding: 2rem;
    text-align: center;
    font-weight: normal;
    &.cta-green {
        background-color: $green;
        color: $white;
        a{
            font-weight:bold;
            &:hover {
            color: #FFF !important;
        }
        }
    }
}

.green-check {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    text-indent: -16px;
    li {
        margin-bottom: 10px;
    }
    li::before {
        font-family: 'fontello';
        content: '\e801 ';
        color: $green;
    }
}

a.video-thumb {
    width: 100%;
    height: 100%;
    img{
        width:100%;
    }
    &:after {
        background: url(../images/play.png) center center no-repeat;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 50px;
        width: 100px;
        height: 100px;
        background-size: contain;
        margin: auto;
        -webkit-animation: fadeinout 3s ease infinite;
        animation: fadeinout 3s ease infinite;
        opacity: 0.6;
        
        @media screen and (min-width: 768px) and (max-width:992px) {
            top:10px;
        }
        @media screen and (min-width:993px) and (max-width:1192px) {
            top: 30px;
        }
        .customer-video & {
            
            top: 25px;
            @media screen and (max-width:767px){
                top:50px;
            }
            @media screen and (min-width: 768px) and (max-width:992px) {
                top:20px;
                width:50px;
                height:50px;
            }
            @media screen and (min-width:993px) and (max-width:1199px) {
                top: 10px;
            }
        }
        .home-video-thumb &{
            top:auto;
        }
        .company-video & {
            @media screen and (max-width:768px) {
                top: 20px;
            }
            @media screen and (max-width:575px) {
                top: 50px;
            }
            @media screen and (max-width:335px) {
                display:none;
            }
        }
    }
    .company-video & {
        @media screen and (max-width:576px) {
                img{
                    width:100%;
                }
            }
    }
    &:hover {
        &:after {
            animation: none;
            opacity: 0.6;
        }

    }

}
.customer-video{
    text-align: center;
}

.accordion-toggle {
    cursor: pointer;
    &:before{
        font-family:fontello;
        content: '\e806';
        transition: all 0.2s;
        margin-right: 0.2rem;
        vertical-align: top;
    }
    
    &.opened{
        &:before{
            content:"\e805";
        }
    }
    div{width:90%;
    display:inline-block;}
}
.accordion-content {
    display: none;
    padding-left:5%;
    @media screen and (min-width: 768px) {
        padding-left:4%;
    }
}

.sticky {
    @media screen and (min-width: 768px) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.padding-bottom-small{
    padding-bottom:1rem;
}
.padding-left-small{
    padding-left:1rem;
}

.pop-item{
    display: flex;
    align-items: center;
    margin-bottom:1rem;
    strong strong strong{
        display: flex;
    align-items: center;
    }
    img{
        margin-right:1rem;
        max-width:70px;
        max-height:70px;
        height:100%;
        width:100%;
    }
}
.blog-preview{
    h2{
        font-weight:normal;
        color:$dark-blue;
    }
    .blog-image{
    
    img{
        height: 350px;
    width: 350px;
        object-fit: cover;
    }
}
    .addtoany{
        display:inline-block;
        float:right;
    }
    .blog-preview-text{
        display:flex;
        flex-direction: column;
    height: 100%;
        .footer{
            margin-top:auto;
        }
    }
}

.target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-90px 0 0; /* negative fixed header height */
}

.pagination-wrapper{
    margin:0 auto;
    padding-top:2rem;
    font-weight:bold;
    font-size:0.8rem;
    text-align: center;
    ul{
        margin:1rem 0;
    }
    .pagination{
        li{
            display:inline;
            list-style:none;
            padding:0.5rem;
            &.page-item-prev{
                
            }
            &.page-item-next{
            }
            &.active{
                background-color:$green;
                border-radius:6px;
                
                a{
                    color:#FFF;
                    
                    
                }
            }
            &.page-item-direction{
                background:#F3f3f3;
                padding:0.5rem 1rem;
                border-radius:6px;
                a{
                    color:$dark-blue;
                }
            }
        }

}
}

.archive-list{
    margin-left:0;
    list-style: none;
    font-size:0.8rem;
    padding-left:1rem;
    li{
        &:not(:last-child){
            border-bottom:1px solid #EEE;
        }
        
        padding:0.3rem;
    }
}
@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@import "tables";
