/*
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
*/
button,
.btn,
a.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
    font-family: inherit !important;
    border:none !important;
    border-radius: 7px !important;
    background: #AAA;
    color: #FFF !important;
    padding: 0.5rem 1rem !important;
    &:visited,
    &:active {
        color: #FFF !important !important;
    }
    font-weight:bold;

}

.btn-pink,
a.btn-pink {
    background: $pink !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, $pink 60%, darken( $pink, 6%) 85%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $pink 60%, darken( $pink, 6%) 85%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $pink 60%, darken( $pink, 6%) 85%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='darken( $pink, 6% )', GradientType=1) !important;
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 0 2px rgba(darken( $pink, 20%), 0.3), /*top external shadow*/
    1px 1px 0 1px rgba(255, 255, 255, 0.8), /*bottom external highlight*/
    inset -1px -1px 2px 2px rgba(0, 0, 0, 0.1), /*bottom internal shadow*/
    inset 2px 1px 1px 1px rgba(255, 255, 255, 0.3);
    /*top internal highlight*/
    
    &:hover{
        color:#FFF;
        
        background: $pink !important;
    }
}

.btn-blue,
a.btn-blue {

    background: $sea-blue !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sea-blue', endColorstr='darken( $sea-blue, 5% )', GradientType=1 !important);
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 0 2px rgba($sea-blue, 0.3), /*top external shadow*/
    1px 1px 0 1px rgba(255, 255, 255, 0.8), /*bottom external highlight*/
    inset -1px -1px 2px 2px rgba(0, 0, 0, 0.1), /*bottom internal shadow*/
    inset 2px 1px 1px 1px rgba(255, 255, 255, 0.3) !important;
    /*top internal highlight*/
     &:hover{
        color:#FFF !important;
         background: $sea-blue !important;
    }
}

.btn-green,
a.btn-green {

    background: $green !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, $green 0%, darken( $green, 8%) 85%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $green 0%, darken( $green, 8%) 85%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $green 0%, darken( $green, 8%) 85%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='darken( $green, 8% )', GradientType=1) !important;
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 0 2px rgba(darken( $green, 20%), 0.3), /*top external shadow*/
    1px 1px 0 1px rgba(255, 255, 255, 0.8), /*bottom external highlight*/
    inset -1px -1px 2px 2px rgba(0, 0, 0, 0.1), /*bottom internal shadow*/
    inset 2px 1px 1px 1px rgba(255, 255, 255, 0.3) !important;
    /*top internal highlight*/
     &:hover{
        color:#FFF !important;
         background: $green !important;
    }
}
.btnfull{
    width:100%;
}