*:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    -webkit-appearance:none;
	color: $color__text-input;
	border: none;
	border-radius: 6px;
	padding: 0.8rem 0.5rem 0.4rem;
    font-family: 'Muli', sans-serif;
	&:focus {
		color: $color__text-input-focus;
	}
}

textarea {
	width: 100%;
}

input[type=radio]{
        display:none;
        @media all and (-ms-high-contrast:none){
         display:block;
         left: -9999px;
         position:absolute;
        }
        
    }
label[for="radio-196"]{
    vertical-align: bottom;
}
    .wpcf7-radio span.wpcf7-list-item-label::before{
        content: " ";
     padding:3px;
    border-radius:7px;
    display:inline-block;
    width:10px;
    height:10px;
    background-color:#FFF;
    overflow:hidden;
        margin-right:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    border:6px solid #fff;
    cursor: pointer;
    }

input[type=radio]:checked + .wpcf7-list-item-label::before{
    background-color:$green !important;

}
span.wpcf7-list-item{
    display:inline-flex;
    align-items: center;

    @media screen and (max-width:992px){
        display:flex;
        margin:0.2rem;
        
    }
    @media screen and (min-width:632px) and (max-width:768px){
        display:inline-flex;
        margin:0.2rem;
    }
    
}
.rad-btn{
    @media screen and (max-width:768px){
        display:inline-flex !important;
        align-items: center;
    }
    @media screen and (max-width:632px){
        display:inline-flex !important;
        align-items: flex-start;
        flex-direction:column;
    }
}
.wpcf7-list-item-label{
    display:flex;
}
select{
    border:none;
    width: 100%;
    margin: 0.5rem;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 0.8rem 0.2rem 0.5rem;
    font-family: 'Muli', sans-serif;
}
fieldset{
    border:none;
    padding:auto;
    margin:auto;
}