@import "buttons";

@import "fields";


.wpcf7 {

    .element-wrapper {
        width: 100%;
        display: inline-block;
        position: relative;
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="search"],
        input[type="number"],
        input[type="tel"],
        input[type="range"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea {
            width: 100%;
            margin: 0.5rem;
        }
        > label {
            opacity: 0.5;
            font-weight: bold;
            position: absolute;
            top: 1rem;
            left: 30px;
            transition: all .1s ease-in-out;
            color: #444;
            z-index: 1;
            &.move {
                opacity: .4;
                font-size: 10px;
                top: 10px;
                left: 30px;
            }
        }
        &.select {
            > label {
                font-size: 10px;
                top: 10px;
                left: 30px;
            }
        }
    }
    .not-text {
        margin: 0 0.5rem;
        font-size: 13px;
        width: 100%;
        div {
            display: inline-block;
        }
        > label {
            position: relative;
            color: inherit;
            opacity: 1;
            top: 0;
            left: 0;
            font-weight: normal;
            vertical-align: bottom;
            opacity:1 !important;
        }
        .sub {
            float: right;
            .btn {
                float: right;

            }
        }

    }
}
.contact-page-form .sub .btn{
    margin-top:10px;
}
.search-block {
    input[type='text'] {
        background-color: #f3f3f3;
        width: 100%;
    }
    .search-icon {
        background: none;
        position: absolute;
        right: 10px;
        bottom: 0;
        padding: 0.6rem !important;
        .icon-search:before {
            color: $pink;
        }
    }
    label {
        opacity: 0.8;
        font-weight: bold;
        position: absolute;
        bottom: 0.6rem;
        left: 30px;
        transition: all .1s ease-in-out;
        color: #444;
        z-index: 1;
        &.move {
            opacity: .4;
            font-size: 10px;
            bottom: 1.5rem;
            left: 23px;
        }
    }
}

.sub-block {
    > div {
        border: 1px solid $green;
        padding: 0.6rem;
    }

    input[type='email'] {
        background-color: #f3f3f3 !important;
        width: 100% !important;
        margin: 0 !important;
    }
    label {
        opacity: 0.8 !important;
        bottom: 0.6rem !important;
        left: 30px !important;
        top: inherit !important;
        &.move {
            opacity: .4 !important;
            font-size: 10px !important;
            bottom: 1.5rem !important;
            left: 23px !important;
        }
    }
    .wpcf7-radio {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .wpcf7-radio span.wpcf7-list-item-label:before {
        border-color: #f3f3f3;
        background-color: #f3f3f3;
        margin-top:3px;
    }
    input[type="submit"]{
        margin-top:10px;
    }
    div.wpcf7 .ajax-loader{
        display: block;
        margin:0 auto;
    }
    .showErrorEmail{
        position: absolute;
        font-size:0.6rem;
    }
}

.contact-page-form, .popup-form {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    textarea {
        background-color: #f3f3f3;
    }
      .wpcf7-radio span.wpcf7-list-item-label:before{
        background-color:#F3f3f3;
        border-color:#F3f3f3;
    }
    label {
        opacity: 0.8 !important;

        &.move {
            opacity: .4 !important;
            font-size: 10px !important;
        }
    }
    label[for="radio-196"] {
        @media screen and (max-width: 1199px) {
            display:block;
            width: 100%;
        }
    }
    .not-text label{
        font-weight:bold;
        color:$sea-blue;
        font-size:1rem;
    }
    h3{
        color:$sea-blue;
        padding:0 0.5rem;
    }
    h4{
        padding:0 0.5rem;
    }
}

.multi-form {
    
  padding: 20px;
    fieldset.active{
        opacity:1;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
        transition-delay: 0.3s;
    }
    fieldset.active ~ fieldset{
        transform: translate(100%);
    -webkit-transform: translate(100%);   
    }
  fieldset:not(.active) {
    position: absolute;
  opacity: 0;
      top:0;
      z-index: -1;
      transform: translate(-100%);
    -webkit-transform: translate(-100%);   
          -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
    fieldset.active ~ fieldset{
        transform: translate(100%);
    -webkit-transform: translate(100%);   
    }
    .buttons a{
        cursor: pointer;
        display:inline-block;
        &.next{
            float:right;
        }
    }
    input[type="submit"]{
        float:right;
    }
  fieldset.active:first-of-type ~ .buttons {
    .prev,
    .submit {
      display: none;
    }
  }
  fieldset.active:not(:last-of-type) ~ .buttons {
    .submit {
      display: none;
    }
  }
  fieldset.active:last-of-type ~ .buttons {
    .next {
      display: none;
    }
  }
    .step-counter{
        margin:0 auto;
        text-align: center;
        a{
            display:inline-block;
            padding:0.5rem 1.2rem;
            color:$dark-blue;
            font-weight:bold;
            font-size:1.3rem;
            border-radius:6px;
            transition: all 0.3s;
            &.active{
                background-color:$pink;
                color:#FFF;
            }
            @media screen and (max-width: 768px){
                font-size:1rem;
            }
            @media screen and (max-width: 500px){
                font-size:0.7rem;
                    padding: 0.3rem 0.8rem;
            }
        }
    }
    @media screen and (max-width: 992px){
            span.wpcf7-list-item {
                display: flex;
                margin: 0;
            }
        }
    .wpcf7 .not-text{
        padding:0.2rem 0;
    }
}

.popup-form{
    background:#FFF;
    padding: 1rem 2rem 1rem 1rem;
    border-radius:6px;
    label{
        pointer-events: none;
    }
    h2{
        padding:0 0.5rem;
    }
    p{
        padding:0 0.5rem;
        margin:0;
    }
    .ajax-loader{
        display:block;
        text-align:center;
        margin:0 auto;
    }
    input[type="submit"]{
            background: $sea-blue !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $sea-blue 0%, darken( $sea-blue, 5%) 85%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sea-blue', endColorstr='darken( $sea-blue, 5% )', GradientType=1 !important);
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 0 2px rgba($sea-blue, 0.3), /*top external shadow*/
    1px 1px 0 1px rgba(255, 255, 255, 0.8), /*bottom external highlight*/
    inset -1px -1px 2px 2px rgba(0, 0, 0, 0.1), /*bottom internal shadow*/
    inset 2px 1px 1px 1px rgba(255, 255, 255, 0.3) !important;
    /*top internal highlight*/
     &:hover{
        color:#FFF !important;
         background: $sea-blue !important;
    }
    }
}

.wpcf7-response-output{
    font-size:0.8rem;
}
div.wpcf7-mail-sent-ok{
    border-color:$green;
    border-radius:7px;
}
div.wpcf7-validation-errors{
    border-radius:7px;
}
.wpcf7-not-valid-tip{
    color: #c00;
    font-size: 0.7rem;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: -0.5rem 0.5rem 0;
    padding: 0.2rem;
}
.hideError, .hideErrorEmail {
  display: none !important;
}

.showError, .showErrorEmail {
      color: #c00;
    font-size: 0.7rem;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: -0.5rem 0.5rem 0;
    padding: 0.2rem;
    
}
