.site-header {
    background: #FFF;
    padding: 0.5rem 15px;
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
    .phone-menu-scroll {
        display: none;
        a {
            color: $pink;
        }

    }
    .get-started a:first-child{
        color:#313d40;
    }
    @media screen and (max-width: 767px) {
        .container {
            max-width: 100% !important;

        }

    }
    &.shrink {
        height: 42px;
        padding: 0.1rem 15px;
        font-size: 0.9rem;
        .custom-logo-link img {
            @media screen and (min-width: 768px) {
                max-width: 160px;
                margin-top: 0.5rem;
            }
            @media screen and (min-width: 992px) {
                max-width: 180px;
                margin-top: 0.5rem;
            }

        }
        .mobile-nav-toggle {
            font-size: 20px;
        }
        .phone-menu-scroll {
            display: block;

        }
        .get-started {
            display: none;
        }
        .menu-header-menu-container {
            margin-top: 6px;
            @media screen and (min-width: 768px) {
                margin-top:8px;
            }
            @media screen and (min-width: 992px) {
                margin-top: 6px;
            }
        }
        .main-navigation li:not(:nth-child(2)) a:before{
            @media screen and (max-width: 992px) and (min-width:768px){
                    padding-left: 5px;
                    padding-right: 5px;
            }
        }
    }
}


.custom-logo-link {
    position: absolute;
    z-index: 5;
    img {
        margin-top: 10px;
        max-width: 150px;
        @media screen and (min-width: 500px) {
            margin-top: 0;
            max-width: 250px;
        }
        @media screen and (min-width: 992px) {
            max-width: 290px;
        }


    }
}

.main-navigation {
    clear: both;
    display: block;
    width: 100%;
    .menu-header-menu-container {
        float: right;
    }
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-weight: bold;
        text-transform: lowercase;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }

            }


            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {}

            a:hover,
            a.focus {}
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        float: left;
        position: relative;



        &:hover > a,
        &.focus > a {}
        &:not(:nth-child(2)) {
            a {
                &:before {
                    content: '•';
                    padding-left: 8px;
                    padding-right: 8px;
                    color: $green;
                }
            }
        }
    }

    li.current-menu-item a {
        color: $green;
    }
    a {
        display: block;
        text-decoration: none;
        color: $dark-blue;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {}
}

.get-started {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 1rem;
    a {
        display: inline;
        color: $pink;
    }
}

.footer-menu {
    background: #313d40;
    padding: 1rem;
    text-align: center;
    a {
        color: #FFF;
    }
}

.menu-footer-menu-container {
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-weight: bold;
        text-transform: lowercase;
        display: flex;
        justify-content: center;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }

            }


            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {}

            a:hover,
            a.focus {}
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        float: left;
        position: relative;



        &:hover > a,
        &.focus > a {}
        &:not(:nth-child(1)) {
            a {
                &:before {
                    content: '•';
                    padding-left: 8px;
                    padding-right: 8px;
                    color: $green;
                }
            }
        }
    }
}

.footer-lower {
    color: #FFF;
    background: #237e90;
    padding: 1rem 0;
    .nt-white,
    .CPA {
        max-height: 100px;
        width: 100%;
        @media screen and (max-width: 768px) {
            max-height:none;
            height: auto;
            width: 100%;
            max-width: 150px;
            margin: 0 2rem;
        }
    }
    @media screen and (max-width:768px) {
        h4 {
            text-align: center;
            margin-bottom: 0.5rem;
        }
        .container {
            width: 100%;
            max-width: none;
        }

    }
    .info-container {
        flex-direction: column;
        @media screen and (min-width: 666px) and (max-width:768px) {
            width:auto;
            flex-direction: row;
        }

    }
    .social a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0 0.2rem 1rem;
        border-radius: 25px;
        color: #FFF;
        background: $pink !important;
        /* Old browsers */
        background: -moz-linear-gradient(-90deg, $pink 60%, darken( $pink, 6%) 85%) !important;
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-90deg, $pink 60%, darken( $pink, 6%) 85%) !important;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(90deg, $pink 60%, darken( $pink, 6%) 85%) !important;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='darken( $pink, 6% )', GradientType=1) !important;
        /* IE6-9 fallback on horizontal gradient */
        box-shadow: 0px 0px 0 2px rgba(0, 0, 0, 0.3), 0px 1px 0 0px rgba(255, 255, 255, 0.8), inset 0px 2px 2px 2px rgba(0, 0, 0, 0.1), inset 0px 2px 1px 1px rgba(255, 255, 255, 0.3);

        &:hover {
            color: #FFF;

            background: $pink !important;
        }

    }
    .tel {
        color: $green;
        font-weight: bold;
    }

}

.footer-bottom {
    background: #313d40;
    padding: 0.5rem;
    text-align: center;
    color: #FFF;
}

/* Small menu. 
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
    flex-direction: column;
    float: right;
}
.main-navigation.toggled ul{
    position: absolute;
    padding:1rem;
    background:#FFF;
    top: calc(50vh - (200px / 2));
    left: calc(50vw - (300px / 2)); 
    width:200px;
    height:300px;
    text-align: left;
    font-weight:bold;
    font-size:1.4rem;
    overflow-y:scroll;
    border:1px solid #000;
    li{
        padding:5px;
    }
}
#primary-menu{
}
#primary-menu a{
    width:100%;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
        flex-direction:row;
	}
}
*/

.main-navigation ul {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
        flex-direction: row;
    }
}

#mobilenav {
    width: 100%;
    height: 100%;
    z-index: 11;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    font-size: 20px;
    font-weight: bold;
    animation: opac 0.8s;
    .phone-menu-scroll{
        display: none;
    }
    .mobile-nav-close {
        padding: 1rem;
    }
    .mobile-nav-wrapper {
        border: 1px solid #DDD;
        margin: 0 auto;
        background: #FFF;
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 330px;
    }
    .mobile-nav-header {
        text-align: right;
    }
    .mobile-nav-wrapper {}
    ul {
        margin: 0;
        li {
            list-style-type: none;
            padding: 5px 0;
            a {
                text-decoration: none;
                color: $dark-blue;
                text-transform: lowercase;
            }

        }
        li.current-menu-item a {
            color: $green;
        }
    }

}

.mobile-nav-toggle {
    font-size: 24px;
    background: none;
    border: 3px solid $dark-blue !important;
    border-radius: 7px;
    padding: 0 !important;
    color: $dark-blue !important;
}

.phone-menu-icon {
    font-size: 24px;
    color: $pink;
}



.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
