<div class="step-counter"><a class="step active" href="#step-1">Step 1</a><a class="step" href="#step-2">Step 2</a><a class="step" href="#step-3">Step 3</a><a class="step"  href="#step-4">Step 4</a><a class="step" href="#step-5">Step 5</a></div>
<fieldset class="active" id="step-1">
<div class="not-text"><label for="radio-pricing">I am interested in the following pricing package*:</label>[radio radio-pricing class:required-radio default:get "Starter" "Plus" "Ultimate"]</div>
<h3>Employer Information</h3>
<div class="row"><div class="element-wrapper col-12 col-md-6"><label for="first_name">First Name*</label>[text* fname id:first_name class:required]</div><div class="element-wrapper col-12 col-md-6"><label for="last_name">Last Name</label>[text lname id:last_name]</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-8"><label for="email">Email*</label>[email* email id:email class:required]</div><div class="element-wrapper col-12 col-md-4"><label for="phone_number">Phone</label>[number phone id:phone_number]</div></div>
<div class="row"><div class="element-wrapper col-12"><label for="employer-address">Employer Address</label>[text employer-address id:employer-address]</div></div>
<div class="row"><div class="element-wrapper col-12 col-sm-4"><label for="city">City</label>[text city id:city]</div><div class="element-wrapper col-6 col-sm-4 select"><label for="province">Province or territory</label>[select province id:province "Ontario" "Quebec" "British Columbia" "Alberta" "Manitoba" "Saskatchewan" "Nova Scotia" "New Brunswick" "Newfoundland and Labrador" "Prince Edward Island" "Northwest Territories" "Nunavut" "Yukon"]</div><div class="element-wrapper col-6 col-sm-4"><label for="postal">Postal Code</label>[text postal id:postal]</div></div>

</fieldset>

<fieldset id="step-2">
<h3>Business Information</h3>
<h4>CRA</h4>
<div class="not-text"><label for="radio-regcra">Have you registered to get a business number with the CRA?</label>[radio radio-regcra default:2 "Yes" "No"]</div>

<div class="row"><div class="element-wrapper col-12"><label for="cra-bsns-num">CRA Business Number</label>[text cra-bsns-num id:cra-bsns-num]</div></div>

<div class="not-text"><label for="radio-regcra2">Would you like NannyTax to register you with the CRA?</label>[radio radio-regcra2 default:2 "Yes" "No"]<br>Fill in the following if yes:</div>

<div class="row"><div class="element-wrapper col-12 col-md-6 "><label for="sin">Employer Social Insurance Number</label>[text sin id:sin]</div><div class="element-wrapper col-12 col-md-6 select"><label for="dob">Employer Date of Birth</label>[date dob id:dob]</div></div>
<hr>
<h4>WCB</h4>
<div class="not-text"><label for="radio-regwcb">Have you registered to get a business number with the WCB?</label>[radio radio-reg default:2 "Yes" "No" ]</div>
<div class="row"><div class="element-wrapper col-12"><label for="cra-bsns-num">WCB Business Number</label>[text wcb-bsns-num id:wcb-bsns-num]</div></div>

<div class="not-text"><label for="radio-regcra2">Would you like NannyTax to register you with the WCB?</label>[radio radio-regwcb2 default:2 "Yes" "No"]<br>Fill in the following if yes:</div>
<div class="row"><div class="element-wrapper col-12 col-md-6 "><label for="fi">Financial Institution</label>[text fi id:fi]</div><div class="element-wrapper col-12 col-md-6 select"><label for="dob">Employer Date of Birth</label>[date dob2 id:dob2]</div></div>
</fieldset>
<fieldset id="step-3">
<h3>Employee Information</h3>
<div class="row"><div class="element-wrapper col-12 col-md-6"><label for="first_name2">First Name</label>[text fname2 id:first_name2]</div><div class="element-wrapper col-12 col-md-6"><label for="last_name2">Last Name</label>[text lname2 id:last_name2]</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-6 "><label for="sinemp">Employee Social Insurance Number</label>[text sinemp id:sinemp]</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-8"><label for="email2">Email</label>[email* email2 id:email2]</div><div class="element-wrapper col-12 col-md-4"><label for="phone_number">Phone</label>[number phone2 id:phone_number2]</div></div>
<div class="row"><div class="element-wrapper col-12"><label for="employee-address">Employee Address</label>[text employee-address id:employee-address]</div></div>
<div class="row"><div class="element-wrapper col-12 col-sm-4"><label for="city2">City</label>[text city2 id:city2]</div><div class="element-wrapper col-6 col-sm-4 select"><label for="province2">Province or territory</label>[select province2 id:province2 "Ontario" "Quebec" "British Columbia" "Alberta" "Manitoba" "Saskatchewan" "Nova Scotia" "New Brunswick" "Newfoundland and Labrador" "Prince Edward Island" "Northwest Territories" "Nunavut" "Yukon"]</div><div class="element-wrapper col-6 col-sm-4"><label for="postal2">Postal Code</label>[text postal2 id:postal2]</div></div>
</fieldset>
<fieldset id="step-4">
<h3>Employee Payment Information</h3>
<div class="not-text"><label for="radio-often">How often do you pay your employee?</label>[radio radio-often default:1 "Weekly" "Every Other Week" "Twice Per Month" "Monthly"]</div>
<div class="row"><div class="element-wrapper col-12 col-md-6 select"><label for="select-day">If weekly or every other week, which day?</label>[select select-day id:select-day "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday" "Sunday"]</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-6 select"><label for="startdate">Start Date of Your Employee</label>[date startdate id:startdate]</div><div class="element-wrapper col-12 col-md-6 select"><label for="startpay">Date of Employee First Payday</label>[date startpay id:startpay]</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-4"><label for="bt">Before Taxes</label>[number before-taxes min:0 id:bt]</div><div class="element-wrapper col-12 col-md-4"><label for="at">After Taxes</label>[number after-taxes min:0 id:at]</div><div class="element-wrapper col-12 col-md-4"><label for="hw">Or Hourly Wage</label>[number hourly-wage min:0 id:hw]</div></div>
<div class="row"><div class="element-wrapper col-12"><label for="hrs">Number of Hours Per Week</label>[number hours min:0 id:hrs]</div></div>
</fieldset>
<fieldset id="step-5">
<h3>Additional Information</h3>
<div class="row"><div class="col">Employee Transportation costs, if any? (For example, a transit pass)</div></div>
<div class="row"><div class="element-wrapper col-12 col-md-6"><label for="trans-freq">Frequency</label>[text transport-freq id:trans-freq]</div><div class="element-wrapper col-12 col-md-6"><label for="trans-amt">Amount</label>[number transport-amount min:0 id:trans-amt]</div></div>
<div class="not-text"><label for="radio-regcra2">If your employee receives a transit pass, do you give them:</label>[radio radio-transit default:2 "Money" "Transit Pass"]</div>
<div class="not-text"><label for="radio-livein">Does your nanny live in?</label>[radio radio-livein default:2 "Yes" "No"]</div>
[honeypot honeypot-783 class:hp]
</fieldset>
<div class="buttons">
      <a class="btn btn-blue prev">Prev</a><a class="btn btn-green next">Next</a>[submit class:btn class:btn-pink class:submit]
    </div>
</div>