/**handles:nannytax-style**/
@charset "UTF-8";/*!
Theme Name: nannytax
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: nannytax
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

nannytax is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/legend,td,th{padding:0}a,ins,mark{text-decoration:none}*,::after,::before,:after,:before{box-sizing:inherit}hr,img,legend{border:0}.main-navigation .menu-header-menu-container,.multi-form .buttons a.next,.multi-form input[type=submit],.wpcf7 .not-text .sub,.wpcf7 .not-text .sub .btn{float:right}.cta,.customer-video,.footer-bottom,.footer-lower .social a,.footer-menu,.multi-form .step-counter,.popup-form .ajax-loader{text-align:center}#content[tabindex="-1"]:focus,:focus,a:active,a:hover{outline:0}.aligncenter,.clear:after,.comment-content:after,.entry-content:after,.page-links,.site-content:after,.site-footer:after,.site-header:after,h1,h2,h3,h4,h5,h6{clear:both}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;box-sizing:border-box}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto}.container,.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;width:100%}/*!
 * Bootstrap Grid v4.0.0-beta.2 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */@-ms-viewport{width:device-width}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col{flex-basis:0;flex-grow:1;max-width:100%}.col-auto{flex:0 0 auto;width:auto;max-width:none}.col-1{flex:0 0 8.33333%;max-width:8.33333%}.col-2{flex:0 0 16.66667%;max-width:16.66667%}.col-3{flex:0 0 25%;max-width:25%}.col-4{flex:0 0 33.33333%;max-width:33.33333%}.col-5{flex:0 0 41.66667%;max-width:41.66667%}.col-6{flex:0 0 50%;max-width:50%}.col-7{flex:0 0 58.33333%;max-width:58.33333%}.col-8{flex:0 0 66.66667%;max-width:66.66667%}.col-9{flex:0 0 75%;max-width:75%}.col-10{flex:0 0 83.33333%;max-width:83.33333%}.col-11{flex:0 0 91.66667%;max-width:91.66667%}.col-12{flex:0 0 100%;max-width:100%}.order-first{order:-1}.order-1{order:1}.order-2{order:2}.order-3{order:3}.order-4{order:4}.order-5{order:5}.order-6{order:6}.order-7{order:7}.order-8{order:8}.order-9{order:9}.order-10{order:10}.order-11{order:11}.order-12{order:12}.offset-1{margin-left:8.33333%}.offset-2{margin-left:16.66667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33333%}.offset-5{margin-left:41.66667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33333%}.offset-8{margin-left:66.66667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33333%}.offset-11{margin-left:91.66667%}@media (min-width:576px){.col-sm{flex-basis:0;flex-grow:1;max-width:100%}.col-sm-auto{flex:0 0 auto;width:auto;max-width:none}.col-sm-1{flex:0 0 8.33333%;max-width:8.33333%}.col-sm-2{flex:0 0 16.66667%;max-width:16.66667%}.col-sm-3{flex:0 0 25%;max-width:25%}.col-sm-4{flex:0 0 33.33333%;max-width:33.33333%}.col-sm-5{flex:0 0 41.66667%;max-width:41.66667%}.col-sm-6{flex:0 0 50%;max-width:50%}.col-sm-7{flex:0 0 58.33333%;max-width:58.33333%}.col-sm-8{flex:0 0 66.66667%;max-width:66.66667%}.col-sm-9{flex:0 0 75%;max-width:75%}.col-sm-10{flex:0 0 83.33333%;max-width:83.33333%}.col-sm-11{flex:0 0 91.66667%;max-width:91.66667%}.col-sm-12{flex:0 0 100%;max-width:100%}.order-sm-first{order:-1}.order-sm-1{order:1}.order-sm-2{order:2}.order-sm-3{order:3}.order-sm-4{order:4}.order-sm-5{order:5}.order-sm-6{order:6}.order-sm-7{order:7}.order-sm-8{order:8}.order-sm-9{order:9}.order-sm-10{order:10}.order-sm-11{order:11}.order-sm-12{order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33333%}.offset-sm-2{margin-left:16.66667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33333%}.offset-sm-5{margin-left:41.66667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33333%}.offset-sm-8{margin-left:66.66667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33333%}.offset-sm-11{margin-left:91.66667%}}@media (min-width:768px){.col-md{flex-basis:0;flex-grow:1;max-width:100%}.col-md-auto{flex:0 0 auto;width:auto;max-width:none}.col-md-1{flex:0 0 8.33333%;max-width:8.33333%}.col-md-2{flex:0 0 16.66667%;max-width:16.66667%}.col-md-3{flex:0 0 25%;max-width:25%}.col-md-4{flex:0 0 33.33333%;max-width:33.33333%}.col-md-5{flex:0 0 41.66667%;max-width:41.66667%}.col-md-6{flex:0 0 50%;max-width:50%}.col-md-7{flex:0 0 58.33333%;max-width:58.33333%}.col-md-8{flex:0 0 66.66667%;max-width:66.66667%}.col-md-9{flex:0 0 75%;max-width:75%}.col-md-10{flex:0 0 83.33333%;max-width:83.33333%}.col-md-11{flex:0 0 91.66667%;max-width:91.66667%}.col-md-12{flex:0 0 100%;max-width:100%}.order-md-first{order:-1}.order-md-1{order:1}.order-md-2{order:2}.order-md-3{order:3}.order-md-4{order:4}.order-md-5{order:5}.order-md-6{order:6}.order-md-7{order:7}.order-md-8{order:8}.order-md-9{order:9}.order-md-10{order:10}.order-md-11{order:11}.order-md-12{order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33333%}.offset-md-2{margin-left:16.66667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33333%}.offset-md-5{margin-left:41.66667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33333%}.offset-md-8{margin-left:66.66667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33333%}.offset-md-11{margin-left:91.66667%}}@media (min-width:992px){.col-lg{flex-basis:0;flex-grow:1;max-width:100%}.col-lg-auto{flex:0 0 auto;width:auto;max-width:none}.col-lg-1{flex:0 0 8.33333%;max-width:8.33333%}.col-lg-2{flex:0 0 16.66667%;max-width:16.66667%}.col-lg-3{flex:0 0 25%;max-width:25%}.col-lg-4{flex:0 0 33.33333%;max-width:33.33333%}.col-lg-5{flex:0 0 41.66667%;max-width:41.66667%}.col-lg-6{flex:0 0 50%;max-width:50%}.col-lg-7{flex:0 0 58.33333%;max-width:58.33333%}.col-lg-8{flex:0 0 66.66667%;max-width:66.66667%}.col-lg-9{flex:0 0 75%;max-width:75%}.col-lg-10{flex:0 0 83.33333%;max-width:83.33333%}.col-lg-11{flex:0 0 91.66667%;max-width:91.66667%}.col-lg-12{flex:0 0 100%;max-width:100%}.order-lg-first{order:-1}.order-lg-1{order:1}.order-lg-2{order:2}.order-lg-3{order:3}.order-lg-4{order:4}.order-lg-5{order:5}.order-lg-6{order:6}.order-lg-7{order:7}.order-lg-8{order:8}.order-lg-9{order:9}.order-lg-10{order:10}.order-lg-11{order:11}.order-lg-12{order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33333%}.offset-lg-2{margin-left:16.66667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33333%}.offset-lg-5{margin-left:41.66667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33333%}.offset-lg-8{margin-left:66.66667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33333%}.offset-lg-11{margin-left:91.66667%}}@media (min-width:1200px){.col-xl{flex-basis:0;flex-grow:1;max-width:100%}.col-xl-auto{flex:0 0 auto;width:auto;max-width:none}.col-xl-1{flex:0 0 8.33333%;max-width:8.33333%}.col-xl-2{flex:0 0 16.66667%;max-width:16.66667%}.col-xl-3{flex:0 0 25%;max-width:25%}.col-xl-4{flex:0 0 33.33333%;max-width:33.33333%}.col-xl-5{flex:0 0 41.66667%;max-width:41.66667%}.col-xl-6{flex:0 0 50%;max-width:50%}.col-xl-7{flex:0 0 58.33333%;max-width:58.33333%}.col-xl-8{flex:0 0 66.66667%;max-width:66.66667%}.col-xl-9{flex:0 0 75%;max-width:75%}.col-xl-10{flex:0 0 83.33333%;max-width:83.33333%}.col-xl-11{flex:0 0 91.66667%;max-width:91.66667%}.col-xl-12{flex:0 0 100%;max-width:100%}.order-xl-first{order:-1}.order-xl-1{order:1}.order-xl-2{order:2}.order-xl-3{order:3}.order-xl-4{order:4}.order-xl-5{order:5}.order-xl-6{order:6}.order-xl-7{order:7}.order-xl-8{order:8}.order-xl-9{order:9}.order-xl-10{order:10}.order-xl-11{order:11}.order-xl-12{order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33333%}.offset-xl-2{margin-left:16.66667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33333%}.offset-xl-5{margin-left:41.66667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33333%}.offset-xl-8{margin-left:66.66667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33333%}.offset-xl-11{margin-left:91.66667%}}.flex-row{flex-direction:row!important}.flex-column{flex-direction:column!important}.flex-row-reverse{flex-direction:row-reverse!important}.flex-column-reverse{flex-direction:column-reverse!important}.flex-wrap{flex-wrap:wrap!important}.flex-nowrap{flex-wrap:nowrap!important}.flex-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-start{justify-content:flex-start!important}.justify-content-end{justify-content:flex-end!important}.justify-content-center{justify-content:center!important}.justify-content-between{justify-content:space-between!important}.justify-content-around{justify-content:space-around!important}.align-items-start{align-items:flex-start!important}.align-items-end{align-items:flex-end!important}.align-items-center{align-items:center!important}.align-items-baseline{align-items:baseline!important}.align-items-stretch{align-items:stretch!important}.align-content-start{align-content:flex-start!important}.align-content-end{align-content:flex-end!important}.align-content-center{align-content:center!important}.align-content-between{align-content:space-between!important}.align-content-around{align-content:space-around!important}.align-content-stretch{align-content:stretch!important}.align-self-auto{align-self:auto!important}.align-self-start{align-self:flex-start!important}.align-self-end{align-self:flex-end!important}.align-self-center{align-self:center!important}.align-self-baseline{align-self:baseline!important}.align-self-stretch{align-self:stretch!important}.w-25{width:25%!important}.w-50{width:50%!important}.w-75{width:75%!important}.w-100{width:100%!important}.h-25{height:25%!important}.h-50{height:50%!important}.h-75{height:75%!important}.h-100{height:100%!important}.mw-100{max-width:100%!important}img,pre{max-width:100%}.mh-100{max-height:100%!important}.d-none{display:none!important}.d-inline{display:inline!important}.d-inline-block{display:inline-block!important}.d-block{display:block!important}.d-table{display:table!important}.d-table-row{display:table-row!important}.d-table-cell{display:table-cell!important}.d-flex{display:flex!important}.d-inline-flex{display:inline-flex!important}@media (min-width:576px){.flex-sm-row{flex-direction:row!important}.flex-sm-column{flex-direction:column!important}.flex-sm-row-reverse{flex-direction:row-reverse!important}.flex-sm-column-reverse{flex-direction:column-reverse!important}.flex-sm-wrap{flex-wrap:wrap!important}.flex-sm-nowrap{flex-wrap:nowrap!important}.flex-sm-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-sm-start{justify-content:flex-start!important}.justify-content-sm-end{justify-content:flex-end!important}.justify-content-sm-center{justify-content:center!important}.justify-content-sm-between{justify-content:space-between!important}.justify-content-sm-around{justify-content:space-around!important}.align-items-sm-start{align-items:flex-start!important}.align-items-sm-end{align-items:flex-end!important}.align-items-sm-center{align-items:center!important}.align-items-sm-baseline{align-items:baseline!important}.align-items-sm-stretch{align-items:stretch!important}.align-content-sm-start{align-content:flex-start!important}.align-content-sm-end{align-content:flex-end!important}.align-content-sm-center{align-content:center!important}.align-content-sm-between{align-content:space-between!important}.align-content-sm-around{align-content:space-around!important}.align-content-sm-stretch{align-content:stretch!important}.align-self-sm-auto{align-self:auto!important}.align-self-sm-start{align-self:flex-start!important}.align-self-sm-end{align-self:flex-end!important}.align-self-sm-center{align-self:center!important}.align-self-sm-baseline{align-self:baseline!important}.align-self-sm-stretch{align-self:stretch!important}.d-sm-none{display:none!important}.d-sm-inline{display:inline!important}.d-sm-inline-block{display:inline-block!important}.d-sm-block{display:block!important}.d-sm-table{display:table!important}.d-sm-table-row{display:table-row!important}.d-sm-table-cell{display:table-cell!important}.d-sm-flex{display:flex!important}.d-sm-inline-flex{display:inline-flex!important}}@media (min-width:768px){.flex-md-row{flex-direction:row!important}.flex-md-column{flex-direction:column!important}.flex-md-row-reverse{flex-direction:row-reverse!important}.flex-md-column-reverse{flex-direction:column-reverse!important}.flex-md-wrap{flex-wrap:wrap!important}.flex-md-nowrap{flex-wrap:nowrap!important}.flex-md-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-md-start{justify-content:flex-start!important}.justify-content-md-end{justify-content:flex-end!important}.justify-content-md-center{justify-content:center!important}.justify-content-md-between{justify-content:space-between!important}.justify-content-md-around{justify-content:space-around!important}.align-items-md-start{align-items:flex-start!important}.align-items-md-end{align-items:flex-end!important}.align-items-md-center{align-items:center!important}.align-items-md-baseline{align-items:baseline!important}.align-items-md-stretch{align-items:stretch!important}.align-content-md-start{align-content:flex-start!important}.align-content-md-end{align-content:flex-end!important}.align-content-md-center{align-content:center!important}.align-content-md-between{align-content:space-between!important}.align-content-md-around{align-content:space-around!important}.align-content-md-stretch{align-content:stretch!important}.align-self-md-auto{align-self:auto!important}.align-self-md-start{align-self:flex-start!important}.align-self-md-end{align-self:flex-end!important}.align-self-md-center{align-self:center!important}.align-self-md-baseline{align-self:baseline!important}.align-self-md-stretch{align-self:stretch!important}.d-md-none{display:none!important}.d-md-inline{display:inline!important}.d-md-inline-block{display:inline-block!important}.d-md-block{display:block!important}.d-md-table{display:table!important}.d-md-table-row{display:table-row!important}.d-md-table-cell{display:table-cell!important}.d-md-flex{display:flex!important}.d-md-inline-flex{display:inline-flex!important}}@media (min-width:992px){.flex-lg-row{flex-direction:row!important}.flex-lg-column{flex-direction:column!important}.flex-lg-row-reverse{flex-direction:row-reverse!important}.flex-lg-column-reverse{flex-direction:column-reverse!important}.flex-lg-wrap{flex-wrap:wrap!important}.flex-lg-nowrap{flex-wrap:nowrap!important}.flex-lg-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-lg-start{justify-content:flex-start!important}.justify-content-lg-end{justify-content:flex-end!important}.justify-content-lg-center{justify-content:center!important}.justify-content-lg-between{justify-content:space-between!important}.justify-content-lg-around{justify-content:space-around!important}.align-items-lg-start{align-items:flex-start!important}.align-items-lg-end{align-items:flex-end!important}.align-items-lg-center{align-items:center!important}.align-items-lg-baseline{align-items:baseline!important}.align-items-lg-stretch{align-items:stretch!important}.align-content-lg-start{align-content:flex-start!important}.align-content-lg-end{align-content:flex-end!important}.align-content-lg-center{align-content:center!important}.align-content-lg-between{align-content:space-between!important}.align-content-lg-around{align-content:space-around!important}.align-content-lg-stretch{align-content:stretch!important}.align-self-lg-auto{align-self:auto!important}.align-self-lg-start{align-self:flex-start!important}.align-self-lg-end{align-self:flex-end!important}.align-self-lg-center{align-self:center!important}.align-self-lg-baseline{align-self:baseline!important}.align-self-lg-stretch{align-self:stretch!important}.d-lg-none{display:none!important}.d-lg-inline{display:inline!important}.d-lg-inline-block{display:inline-block!important}.d-lg-block{display:block!important}.d-lg-table{display:table!important}.d-lg-table-row{display:table-row!important}.d-lg-table-cell{display:table-cell!important}.d-lg-flex{display:flex!important}.d-lg-inline-flex{display:inline-flex!important}}@media (min-width:1200px){.flex-xl-row{flex-direction:row!important}.flex-xl-column{flex-direction:column!important}.flex-xl-row-reverse{flex-direction:row-reverse!important}.flex-xl-column-reverse{flex-direction:column-reverse!important}.flex-xl-wrap{flex-wrap:wrap!important}.flex-xl-nowrap{flex-wrap:nowrap!important}.flex-xl-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-xl-start{justify-content:flex-start!important}.justify-content-xl-end{justify-content:flex-end!important}.justify-content-xl-center{justify-content:center!important}.justify-content-xl-between{justify-content:space-between!important}.justify-content-xl-around{justify-content:space-around!important}.align-items-xl-start{align-items:flex-start!important}.align-items-xl-end{align-items:flex-end!important}.align-items-xl-center{align-items:center!important}.align-items-xl-baseline{align-items:baseline!important}.align-items-xl-stretch{align-items:stretch!important}.align-content-xl-start{align-content:flex-start!important}.align-content-xl-end{align-content:flex-end!important}.align-content-xl-center{align-content:center!important}.align-content-xl-between{align-content:space-between!important}.align-content-xl-around{align-content:space-around!important}.align-content-xl-stretch{align-content:stretch!important}.align-self-xl-auto{align-self:auto!important}.align-self-xl-start{align-self:flex-start!important}.align-self-xl-end{align-self:flex-end!important}.align-self-xl-center{align-self:center!important}.align-self-xl-baseline{align-self:baseline!important}.align-self-xl-stretch{align-self:stretch!important}.d-xl-none{display:none!important}.d-xl-inline{display:inline!important}.d-xl-inline-block{display:inline-block!important}.d-xl-block{display:block!important}.d-xl-table{display:table!important}.d-xl-table-row{display:table-row!important}.d-xl-table-cell{display:table-cell!important}.d-xl-flex{display:flex!important}.d-xl-inline-flex{display:inline-flex!important}}.d-print-block{display:none!important}@media print{.d-print-block{display:block!important}}.d-print-inline{display:none!important}@media print{.d-print-inline{display:inline!important}}.d-print-inline-block{display:none!important}@media print{.d-print-inline-block{display:inline-block!important}.d-print-none{display:none!important}}.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:.25rem!important}.mt-1,.my-1{margin-top:.25rem!important}.mr-1,.mx-1{margin-right:.25rem!important}.mb-1,.my-1{margin-bottom:.25rem!important}.ml-1,.mx-1{margin-left:.25rem!important}.m-2{margin:.5rem!important}.mt-2,.my-2{margin-top:.5rem!important}.mr-2,.mx-2{margin-right:.5rem!important}.mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.pt-1,.py-1{padding-top:.25rem!important}.pr-1,.px-1{padding-right:.25rem!important}.pb-1,.py-1{padding-bottom:.25rem!important}.pl-1,.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.pt-2,.py-2{padding-top:.5rem!important}.pr-2,.px-2{padding-right:.5rem!important}.pb-2,.py-2{padding-bottom:.5rem!important}.pl-2,.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.m-auto{margin:auto!important}.mt-auto,.my-auto{margin-top:auto!important}.mr-auto,.mx-auto{margin-right:auto!important}.mb-auto,.my-auto{margin-bottom:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}@media (min-width:576px){.m-sm-0{margin:0!important}.mt-sm-0,.my-sm-0{margin-top:0!important}.mr-sm-0,.mx-sm-0{margin-right:0!important}.mb-sm-0,.my-sm-0{margin-bottom:0!important}.ml-sm-0,.mx-sm-0{margin-left:0!important}.m-sm-1{margin:.25rem!important}.mt-sm-1,.my-sm-1{margin-top:.25rem!important}.mr-sm-1,.mx-sm-1{margin-right:.25rem!important}.mb-sm-1,.my-sm-1{margin-bottom:.25rem!important}.ml-sm-1,.mx-sm-1{margin-left:.25rem!important}.m-sm-2{margin:.5rem!important}.mt-sm-2,.my-sm-2{margin-top:.5rem!important}.mr-sm-2,.mx-sm-2{margin-right:.5rem!important}.mb-sm-2,.my-sm-2{margin-bottom:.5rem!important}.ml-sm-2,.mx-sm-2{margin-left:.5rem!important}.m-sm-3{margin:1rem!important}.mt-sm-3,.my-sm-3{margin-top:1rem!important}.mr-sm-3,.mx-sm-3{margin-right:1rem!important}.mb-sm-3,.my-sm-3{margin-bottom:1rem!important}.ml-sm-3,.mx-sm-3{margin-left:1rem!important}.m-sm-4{margin:1.5rem!important}.mt-sm-4,.my-sm-4{margin-top:1.5rem!important}.mr-sm-4,.mx-sm-4{margin-right:1.5rem!important}.mb-sm-4,.my-sm-4{margin-bottom:1.5rem!important}.ml-sm-4,.mx-sm-4{margin-left:1.5rem!important}.m-sm-5{margin:3rem!important}.mt-sm-5,.my-sm-5{margin-top:3rem!important}.mr-sm-5,.mx-sm-5{margin-right:3rem!important}.mb-sm-5,.my-sm-5{margin-bottom:3rem!important}.ml-sm-5,.mx-sm-5{margin-left:3rem!important}.p-sm-0{padding:0!important}.pt-sm-0,.py-sm-0{padding-top:0!important}.pr-sm-0,.px-sm-0{padding-right:0!important}.pb-sm-0,.py-sm-0{padding-bottom:0!important}.pl-sm-0,.px-sm-0{padding-left:0!important}.p-sm-1{padding:.25rem!important}.pt-sm-1,.py-sm-1{padding-top:.25rem!important}.pr-sm-1,.px-sm-1{padding-right:.25rem!important}.pb-sm-1,.py-sm-1{padding-bottom:.25rem!important}.pl-sm-1,.px-sm-1{padding-left:.25rem!important}.p-sm-2{padding:.5rem!important}.pt-sm-2,.py-sm-2{padding-top:.5rem!important}.pr-sm-2,.px-sm-2{padding-right:.5rem!important}.pb-sm-2,.py-sm-2{padding-bottom:.5rem!important}.pl-sm-2,.px-sm-2{padding-left:.5rem!important}.p-sm-3{padding:1rem!important}.pt-sm-3,.py-sm-3{padding-top:1rem!important}.pr-sm-3,.px-sm-3{padding-right:1rem!important}.pb-sm-3,.py-sm-3{padding-bottom:1rem!important}.pl-sm-3,.px-sm-3{padding-left:1rem!important}.p-sm-4{padding:1.5rem!important}.pt-sm-4,.py-sm-4{padding-top:1.5rem!important}.pr-sm-4,.px-sm-4{padding-right:1.5rem!important}.pb-sm-4,.py-sm-4{padding-bottom:1.5rem!important}.pl-sm-4,.px-sm-4{padding-left:1.5rem!important}.p-sm-5{padding:3rem!important}.pt-sm-5,.py-sm-5{padding-top:3rem!important}.pr-sm-5,.px-sm-5{padding-right:3rem!important}.pb-sm-5,.py-sm-5{padding-bottom:3rem!important}.pl-sm-5,.px-sm-5{padding-left:3rem!important}.m-sm-auto{margin:auto!important}.mt-sm-auto,.my-sm-auto{margin-top:auto!important}.mr-sm-auto,.mx-sm-auto{margin-right:auto!important}.mb-sm-auto,.my-sm-auto{margin-bottom:auto!important}.ml-sm-auto,.mx-sm-auto{margin-left:auto!important}}@media (min-width:768px){.m-md-0{margin:0!important}.mt-md-0,.my-md-0{margin-top:0!important}.mr-md-0,.mx-md-0{margin-right:0!important}.mb-md-0,.my-md-0{margin-bottom:0!important}.ml-md-0,.mx-md-0{margin-left:0!important}.m-md-1{margin:.25rem!important}.mt-md-1,.my-md-1{margin-top:.25rem!important}.mr-md-1,.mx-md-1{margin-right:.25rem!important}.mb-md-1,.my-md-1{margin-bottom:.25rem!important}.ml-md-1,.mx-md-1{margin-left:.25rem!important}.m-md-2{margin:.5rem!important}.mt-md-2,.my-md-2{margin-top:.5rem!important}.mr-md-2,.mx-md-2{margin-right:.5rem!important}.mb-md-2,.my-md-2{margin-bottom:.5rem!important}.ml-md-2,.mx-md-2{margin-left:.5rem!important}.m-md-3{margin:1rem!important}.mt-md-3,.my-md-3{margin-top:1rem!important}.mr-md-3,.mx-md-3{margin-right:1rem!important}.mb-md-3,.my-md-3{margin-bottom:1rem!important}.ml-md-3,.mx-md-3{margin-left:1rem!important}.m-md-4{margin:1.5rem!important}.mt-md-4,.my-md-4{margin-top:1.5rem!important}.mr-md-4,.mx-md-4{margin-right:1.5rem!important}.mb-md-4,.my-md-4{margin-bottom:1.5rem!important}.ml-md-4,.mx-md-4{margin-left:1.5rem!important}.m-md-5{margin:3rem!important}.mt-md-5,.my-md-5{margin-top:3rem!important}.mr-md-5,.mx-md-5{margin-right:3rem!important}.mb-md-5,.my-md-5{margin-bottom:3rem!important}.ml-md-5,.mx-md-5{margin-left:3rem!important}.p-md-0{padding:0!important}.pt-md-0,.py-md-0{padding-top:0!important}.pr-md-0,.px-md-0{padding-right:0!important}.pb-md-0,.py-md-0{padding-bottom:0!important}.pl-md-0,.px-md-0{padding-left:0!important}.p-md-1{padding:.25rem!important}.pt-md-1,.py-md-1{padding-top:.25rem!important}.pr-md-1,.px-md-1{padding-right:.25rem!important}.pb-md-1,.py-md-1{padding-bottom:.25rem!important}.pl-md-1,.px-md-1{padding-left:.25rem!important}.p-md-2{padding:.5rem!important}.pt-md-2,.py-md-2{padding-top:.5rem!important}.pr-md-2,.px-md-2{padding-right:.5rem!important}.pb-md-2,.py-md-2{padding-bottom:.5rem!important}.pl-md-2,.px-md-2{padding-left:.5rem!important}.p-md-3{padding:1rem!important}.pt-md-3,.py-md-3{padding-top:1rem!important}.pr-md-3,.px-md-3{padding-right:1rem!important}.pb-md-3,.py-md-3{padding-bottom:1rem!important}.pl-md-3,.px-md-3{padding-left:1rem!important}.p-md-4{padding:1.5rem!important}.pt-md-4,.py-md-4{padding-top:1.5rem!important}.pr-md-4,.px-md-4{padding-right:1.5rem!important}.pb-md-4,.py-md-4{padding-bottom:1.5rem!important}.pl-md-4,.px-md-4{padding-left:1.5rem!important}.p-md-5{padding:3rem!important}.pt-md-5,.py-md-5{padding-top:3rem!important}.pr-md-5,.px-md-5{padding-right:3rem!important}.pb-md-5,.py-md-5{padding-bottom:3rem!important}.pl-md-5,.px-md-5{padding-left:3rem!important}.m-md-auto{margin:auto!important}.mt-md-auto,.my-md-auto{margin-top:auto!important}.mr-md-auto,.mx-md-auto{margin-right:auto!important}.mb-md-auto,.my-md-auto{margin-bottom:auto!important}.ml-md-auto,.mx-md-auto{margin-left:auto!important}}@media (min-width:992px){.m-lg-0{margin:0!important}.mt-lg-0,.my-lg-0{margin-top:0!important}.mr-lg-0,.mx-lg-0{margin-right:0!important}.mb-lg-0,.my-lg-0{margin-bottom:0!important}.ml-lg-0,.mx-lg-0{margin-left:0!important}.m-lg-1{margin:.25rem!important}.mt-lg-1,.my-lg-1{margin-top:.25rem!important}.mr-lg-1,.mx-lg-1{margin-right:.25rem!important}.mb-lg-1,.my-lg-1{margin-bottom:.25rem!important}.ml-lg-1,.mx-lg-1{margin-left:.25rem!important}.m-lg-2{margin:.5rem!important}.mt-lg-2,.my-lg-2{margin-top:.5rem!important}.mr-lg-2,.mx-lg-2{margin-right:.5rem!important}.mb-lg-2,.my-lg-2{margin-bottom:.5rem!important}.ml-lg-2,.mx-lg-2{margin-left:.5rem!important}.m-lg-3{margin:1rem!important}.mt-lg-3,.my-lg-3{margin-top:1rem!important}.mr-lg-3,.mx-lg-3{margin-right:1rem!important}.mb-lg-3,.my-lg-3{margin-bottom:1rem!important}.ml-lg-3,.mx-lg-3{margin-left:1rem!important}.m-lg-4{margin:1.5rem!important}.mt-lg-4,.my-lg-4{margin-top:1.5rem!important}.mr-lg-4,.mx-lg-4{margin-right:1.5rem!important}.mb-lg-4,.my-lg-4{margin-bottom:1.5rem!important}.ml-lg-4,.mx-lg-4{margin-left:1.5rem!important}.m-lg-5{margin:3rem!important}.mt-lg-5,.my-lg-5{margin-top:3rem!important}.mr-lg-5,.mx-lg-5{margin-right:3rem!important}.mb-lg-5,.my-lg-5{margin-bottom:3rem!important}.ml-lg-5,.mx-lg-5{margin-left:3rem!important}.p-lg-0{padding:0!important}.pt-lg-0,.py-lg-0{padding-top:0!important}.pr-lg-0,.px-lg-0{padding-right:0!important}.pb-lg-0,.py-lg-0{padding-bottom:0!important}.pl-lg-0,.px-lg-0{padding-left:0!important}.p-lg-1{padding:.25rem!important}.pt-lg-1,.py-lg-1{padding-top:.25rem!important}.pr-lg-1,.px-lg-1{padding-right:.25rem!important}.pb-lg-1,.py-lg-1{padding-bottom:.25rem!important}.pl-lg-1,.px-lg-1{padding-left:.25rem!important}.p-lg-2{padding:.5rem!important}.pt-lg-2,.py-lg-2{padding-top:.5rem!important}.pr-lg-2,.px-lg-2{padding-right:.5rem!important}.pb-lg-2,.py-lg-2{padding-bottom:.5rem!important}.pl-lg-2,.px-lg-2{padding-left:.5rem!important}.p-lg-3{padding:1rem!important}.pt-lg-3,.py-lg-3{padding-top:1rem!important}.pr-lg-3,.px-lg-3{padding-right:1rem!important}.pb-lg-3,.py-lg-3{padding-bottom:1rem!important}.pl-lg-3,.px-lg-3{padding-left:1rem!important}.p-lg-4{padding:1.5rem!important}.pt-lg-4,.py-lg-4{padding-top:1.5rem!important}.pr-lg-4,.px-lg-4{padding-right:1.5rem!important}.pb-lg-4,.py-lg-4{padding-bottom:1.5rem!important}.pl-lg-4,.px-lg-4{padding-left:1.5rem!important}.p-lg-5{padding:3rem!important}.pt-lg-5,.py-lg-5{padding-top:3rem!important}.pr-lg-5,.px-lg-5{padding-right:3rem!important}.pb-lg-5,.py-lg-5{padding-bottom:3rem!important}.pl-lg-5,.px-lg-5{padding-left:3rem!important}.m-lg-auto{margin:auto!important}.mt-lg-auto,.my-lg-auto{margin-top:auto!important}.mr-lg-auto,.mx-lg-auto{margin-right:auto!important}.mb-lg-auto,.my-lg-auto{margin-bottom:auto!important}.ml-lg-auto,.mx-lg-auto{margin-left:auto!important}}@media (min-width:1200px){.m-xl-0{margin:0!important}.mt-xl-0,.my-xl-0{margin-top:0!important}.mr-xl-0,.mx-xl-0{margin-right:0!important}.mb-xl-0,.my-xl-0{margin-bottom:0!important}.ml-xl-0,.mx-xl-0{margin-left:0!important}.m-xl-1{margin:.25rem!important}.mt-xl-1,.my-xl-1{margin-top:.25rem!important}.mr-xl-1,.mx-xl-1{margin-right:.25rem!important}.mb-xl-1,.my-xl-1{margin-bottom:.25rem!important}.ml-xl-1,.mx-xl-1{margin-left:.25rem!important}.m-xl-2{margin:.5rem!important}.mt-xl-2,.my-xl-2{margin-top:.5rem!important}.mr-xl-2,.mx-xl-2{margin-right:.5rem!important}.mb-xl-2,.my-xl-2{margin-bottom:.5rem!important}.ml-xl-2,.mx-xl-2{margin-left:.5rem!important}.m-xl-3{margin:1rem!important}.mt-xl-3,.my-xl-3{margin-top:1rem!important}.mr-xl-3,.mx-xl-3{margin-right:1rem!important}.mb-xl-3,.my-xl-3{margin-bottom:1rem!important}.ml-xl-3,.mx-xl-3{margin-left:1rem!important}.m-xl-4{margin:1.5rem!important}.mt-xl-4,.my-xl-4{margin-top:1.5rem!important}.mr-xl-4,.mx-xl-4{margin-right:1.5rem!important}.mb-xl-4,.my-xl-4{margin-bottom:1.5rem!important}.ml-xl-4,.mx-xl-4{margin-left:1.5rem!important}.m-xl-5{margin:3rem!important}.mt-xl-5,.my-xl-5{margin-top:3rem!important}.mr-xl-5,.mx-xl-5{margin-right:3rem!important}.mb-xl-5,.my-xl-5{margin-bottom:3rem!important}.ml-xl-5,.mx-xl-5{margin-left:3rem!important}.p-xl-0{padding:0!important}.pt-xl-0,.py-xl-0{padding-top:0!important}.pr-xl-0,.px-xl-0{padding-right:0!important}.pb-xl-0,.py-xl-0{padding-bottom:0!important}.pl-xl-0,.px-xl-0{padding-left:0!important}.p-xl-1{padding:.25rem!important}.pt-xl-1,.py-xl-1{padding-top:.25rem!important}.pr-xl-1,.px-xl-1{padding-right:.25rem!important}.pb-xl-1,.py-xl-1{padding-bottom:.25rem!important}.pl-xl-1,.px-xl-1{padding-left:.25rem!important}.p-xl-2{padding:.5rem!important}.pt-xl-2,.py-xl-2{padding-top:.5rem!important}.pr-xl-2,.px-xl-2{padding-right:.5rem!important}.pb-xl-2,.py-xl-2{padding-bottom:.5rem!important}.pl-xl-2,.px-xl-2{padding-left:.5rem!important}.p-xl-3{padding:1rem!important}.pt-xl-3,.py-xl-3{padding-top:1rem!important}.pr-xl-3,.px-xl-3{padding-right:1rem!important}.pb-xl-3,.py-xl-3{padding-bottom:1rem!important}.pl-xl-3,.px-xl-3{padding-left:1rem!important}.p-xl-4{padding:1.5rem!important}.pt-xl-4,.py-xl-4{padding-top:1.5rem!important}.pr-xl-4,.px-xl-4{padding-right:1.5rem!important}.pb-xl-4,.py-xl-4{padding-bottom:1.5rem!important}.pl-xl-4,.px-xl-4{padding-left:1.5rem!important}.p-xl-5{padding:3rem!important}.pt-xl-5,.py-xl-5{padding-top:3rem!important}.pr-xl-5,.px-xl-5{padding-right:3rem!important}.pb-xl-5,.py-xl-5{padding-bottom:3rem!important}.pl-xl-5,.px-xl-5{padding-left:3rem!important}.m-xl-auto{margin:auto!important}.mt-xl-auto,.my-xl-auto{margin-top:auto!important}.mr-xl-auto,.mx-xl-auto{margin-right:auto!important}.mb-xl-auto,.my-xl-auto{margin-bottom:auto!important}.ml-xl-auto,.mx-xl-auto{margin-left:auto!important}}hr,p{margin-bottom:1.5em}.visible{visibility:visible!important}.invisible{visibility:hidden!important}body,button,input,optgroup,select,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}.text-black,body{color:#313d40}body{font-family:Muli,sans-serif;background:#fff}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0}big{font-size:125%}@font-face{font-family:fontello;src:url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.eot?10974359);src:url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.eot?10974359#iefix) format("embedded-opentype"),url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.woff2?10974359) format("woff2"),url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.woff?10974359) format("woff"),url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.ttf?10974359) format("truetype"),url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/fonts/fontello.svg?10974359#fontello) format("svg");font-weight:400;font-style:normal}[class*=" icon-"]:before,[class^=icon-]:before{font-family:fontello;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}#featured-blog .text a,dt{font-weight:700}.text-green{color:#b8ce32}.icon-phone:before{content:'\e800'}.icon-ok:before{content:'\e801'}.icon-left-open:before{content:'\e802'}.icon-right-open:before{content:'\e803'}.icon-search:before{content:'\e804'}.icon-up-open:before{content:'\e805'}.icon-down-open:before{content:'\e806'}.icon-twitter:before{content:'\f099'}.icon-facebook:before{content:'\f09a'}.icon-menu:before{content:'\f0c9'}.icon-linkedin:before{content:'\f0e1'}.icon-youtube-play:before{content:'\f16a'}.icon-pinterest:before{content:'\f231'}hr{box-sizing:content-box;background-color:#ccc;height:1px}section{padding:3rem 0}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dd{margin:0 1.5em 1.5em}img{height:auto}figure{margin:1em 0}#featured-blog{position:fixed;right:-400px;top:240px;display:none;background:#FFF;box-shadow:inset 0 0 0 2px #c1c1c1;z-index:7;overflow:hidden;width:200px;height:100px}#featured-blog .row{flex:1}#featured-blog .text{padding:1rem 0 1rem 2rem;align-self:center}#featured-blog .text h3{margin:0 0 .5rem}#featured-blog .image{overflow:hidden}#featured-blog .image img{height:100%;width:100%;object-fit:cover}#featured-blog .close{z-index:8;position:absolute;right:10px;font-weight:bolder;font-size:24px;cursor:pointer}@media screen and (min-width:768px){#featured-blog{width:300px;height:150px}}@media screen and (min-width:1192px){#featured-blog{width:360px;height:200px}}.cta{padding:2rem;font-weight:400}.cta.cta-green{background-color:#b8ce32;color:#fff}.cta.cta-green a{font-weight:700}.cta.cta-green a:hover{color:#FFF!important}.green-check{padding-left:20px;margin:0;list-style:none;text-indent:-16px}.green-check li{margin-bottom:10px}.green-check li::before{font-family:fontello;content:'\e801 ';color:#b8ce32}a.video-thumb{width:100%;height:100%}a.video-thumb img{width:100%}a.video-thumb:after{background:url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/images/play.png) center center no-repeat;content:"";display:block;left:0;position:absolute;right:0;top:50px;width:100px;height:100px;background-size:contain;margin:auto;-webkit-animation:fadeinout 3s ease infinite;animation:fadeinout 3s ease infinite;opacity:.6}@media screen and (min-width:768px) and (max-width:992px){a.video-thumb:after{top:10px}}@media screen and (min-width:993px) and (max-width:1192px){a.video-thumb:after{top:30px}}.customer-video a.video-thumb:after{top:25px}@media screen and (max-width:767px){.customer-video a.video-thumb:after{top:50px}}@media screen and (min-width:768px) and (max-width:992px){.customer-video a.video-thumb:after{top:20px;width:50px;height:50px}}@media screen and (min-width:993px) and (max-width:1199px){.customer-video a.video-thumb:after{top:10px}}.home-video-thumb a.video-thumb:after{top:auto}@media screen and (max-width:768px){.company-video a.video-thumb:after{top:20px}}@media screen and (max-width:575px){.company-video a.video-thumb:after{top:50px}}@media screen and (max-width:335px){.company-video a.video-thumb:after{display:none}}@media screen and (max-width:576px){.company-video a.video-thumb img{width:100%}}a.video-thumb:hover:after{animation:none;opacity:.6}.accordion-toggle{cursor:pointer}.accordion-toggle:before{font-family:fontello;content:'\e806';transition:all .2s;margin-right:.2rem;vertical-align:top}.accordion-toggle.opened:before{content:"\e805"}.accordion-toggle div{width:90%;display:inline-block}.accordion-content{display:none;padding-left:5%}@media screen and (min-width:768px){.accordion-content{padding-left:4%}.sticky{position:-webkit-sticky;position:sticky;top:0}}.sticky:after,.sticky:before{content:'';display:table}.padding-bottom-small{padding-bottom:1rem}.padding-left-small{padding-left:1rem}.pop-item{display:flex;align-items:center;margin-bottom:1rem}.pop-item strong strong strong{display:flex;align-items:center}.pop-item img{margin-right:1rem;max-width:70px;max-height:70px;height:100%;width:100%}.blog-preview h2{font-weight:400;color:#313d40}.blog-preview .blog-image img{height:350px;width:350px;object-fit:cover}.btnfull,table,textarea{width:100%}.blog-preview .addtoany{display:inline-block;float:right}.blog-preview .blog-preview-text{display:flex;flex-direction:column;height:100%}.blog-preview .blog-preview-text .footer{margin-top:auto}.target:before{content:"";display:block;height:90px;margin:-90px 0 0}.pagination-wrapper{margin:0 auto;padding-top:2rem;font-weight:700;font-size:.8rem}.pagination-wrapper .pagination li{display:inline;list-style:none;padding:.5rem}.pagination-wrapper .pagination li.active{background-color:#b8ce32;border-radius:6px}.pagination-wrapper .pagination li.active a{color:#FFF}.pagination-wrapper .pagination li.page-item-direction{background:#F3f3f3;padding:.5rem 1rem;border-radius:6px}.pagination-wrapper .pagination li.page-item-direction a{color:#313d40}.archive-list{margin-left:0;list-style:none;font-size:.8rem;padding-left:1rem}.archive-list li{padding:.3rem}.archive-list li:not(:last-child){border-bottom:1px solid #EEE}@-webkit-keyframes fadeinout{50%{opacity:1}}@keyframes fadeinout{50%{opacity:1}}table{border-collapse:collapse;border-spacing:0;margin:0 0 1.5em}.btn,a.btn,button,input[type=button],input[type=reset],input[type=submit]{font-family:inherit!important;border:none!important;border-radius:7px!important;background:#AAA;color:#FFF!important;padding:.5rem 1rem!important;font-weight:700}.btn:active,.btn:visited,a.btn:active,a.btn:visited,button:active,button:visited,input[type=button]:active,input[type=button]:visited,input[type=reset]:active,input[type=reset]:visited,input[type=submit]:active,input[type=submit]:visited{color:#FFF!important!important}.btn-pink,a.btn-pink{background:#dd5da3!important;background:-moz-linear-gradient(-45deg,#dd5da3 60%,#d84495 85%)!important;background:-webkit-linear-gradient(-45deg,#dd5da3 60%,#d84495 85%)!important;background:linear-gradient(135deg,#dd5da3 60%,#d84495 85%)!important;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='darken( $pink, 6% )', GradientType=1)!important;box-shadow:0 0 0 2px rgba(175,37,112,.3),1px 1px 0 1px rgba(255,255,255,.8),inset -1px -1px 2px 2px rgba(0,0,0,.1),inset 2px 1px 1px 1px rgba(255,255,255,.3)}.btn-pink:hover,a.btn-pink:hover{color:#FFF;background:#dd5da3!important}.btn-blue,a.btn-blue{background:#237e90!important;background:-moz-linear-gradient(-45deg,#237e90 0,#1e6c7b 85%)!important;background:-webkit-linear-gradient(-45deg,#237e90 0,#1e6c7b 85%)!important;background:linear-gradient(135deg,#237e90 0,#1e6c7b 85%)!important;filter:progid:DXImageTransform.Microsoft.gradient startColorstr="$sea-blue" , endColorstr="darken( $sea-blue, 5% )" , GradientType=1!important;box-shadow:0 0 0 2px rgba(35,126,144,.3),1px 1px 0 1px rgba(255,255,255,.8),inset -1px -1px 2px 2px rgba(0,0,0,.1),inset 2px 1px 1px 1px rgba(255,255,255,.3)!important}.btn-blue:hover,a.btn-blue:hover{color:#FFF!important;background:#237e90!important}.btn-green,a.btn-green{background:#b8ce32!important;background:-moz-linear-gradient(-45deg,#b8ce32 0,#9bae2a 85%)!important;background:-webkit-linear-gradient(-45deg,#b8ce32 0,#9bae2a 85%)!important;background:linear-gradient(135deg,#b8ce32 0,#9bae2a 85%)!important;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='darken( $green, 8% )', GradientType=1)!important;box-shadow:0 0 0 2px rgba(111,124,30,.3),1px 1px 0 1px rgba(255,255,255,.8),inset -1px -1px 2px 2px rgba(0,0,0,.1),inset 2px 1px 1px 1px rgba(255,255,255,.3)!important}.btn-green:hover,a.btn-green:hover{color:#FFF!important;background:#b8ce32!important}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search],textarea{-webkit-appearance:none;color:#666;border:none;border-radius:6px;padding:.8rem .5rem .4rem;font-family:Muli,sans-serif}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus{color:#111}input[type=radio]{display:none}@media all and (-ms-high-contrast:none){input[type=radio]{display:block;left:-9999px;position:absolute}}label[for=radio-196]{vertical-align:bottom}.wpcf7-radio span.wpcf7-list-item-label::before{content:" ";padding:3px;border-radius:7px;display:inline-block;width:10px;height:10px;background-color:#FFF;overflow:hidden;margin-right:3px;-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s;border:6px solid #fff;cursor:pointer}input[type=radio]:checked+.wpcf7-list-item-label::before{background-color:#b8ce32!important}.search-block input[type=text],select{background-color:#f3f3f3;width:100%}span.wpcf7-list-item{display:inline-flex;align-items:center}@media screen and (max-width:992px){span.wpcf7-list-item{display:flex;margin:.2rem}}@media screen and (min-width:632px) and (max-width:768px){span.wpcf7-list-item{display:inline-flex;margin:.2rem}}@media screen and (max-width:768px){.rad-btn{display:inline-flex!important;align-items:center}}@media screen and (max-width:632px){.rad-btn{display:inline-flex!important;align-items:flex-start;flex-direction:column}}.wpcf7-list-item-label{display:flex}select{border:none;margin:.5rem;border-radius:6px;padding:.8rem .2rem .5rem;font-family:Muli,sans-serif}fieldset{border:none;padding:auto;margin:auto}.wpcf7 .element-wrapper{width:100%;display:inline-block;position:relative}.wpcf7 .element-wrapper input[type=text],.wpcf7 .element-wrapper input[type=email],.wpcf7 .element-wrapper input[type=url],.wpcf7 .element-wrapper input[type=password],.wpcf7 .element-wrapper input[type=tel],.wpcf7 .element-wrapper input[type=range],.wpcf7 .element-wrapper input[type=date],.wpcf7 .element-wrapper input[type=month],.wpcf7 .element-wrapper input[type=week],.wpcf7 .element-wrapper input[type=time],.wpcf7 .element-wrapper input[type=datetime],.wpcf7 .element-wrapper input[type=datetime-local],.wpcf7 .element-wrapper input[type=color],.wpcf7 .element-wrapper input[type=number],.wpcf7 .element-wrapper input[type=search],.wpcf7 .element-wrapper textarea{width:100%;margin:.5rem}.wpcf7 .element-wrapper>label{opacity:.5;font-weight:700;position:absolute;top:1rem;left:30px;transition:all .1s ease-in-out;color:#444;z-index:1}.wpcf7 .element-wrapper>label.move{opacity:.4;font-size:10px;top:10px;left:30px}.wpcf7 .element-wrapper.select>label{font-size:10px;top:10px;left:30px}.wpcf7 .not-text{margin:0 .5rem;font-size:13px;width:100%}.wpcf7 .not-text div{display:inline-block}.wpcf7 .not-text>label{position:relative;color:inherit;top:0;left:0;font-weight:400;vertical-align:bottom;opacity:1!important}.search-block .search-icon{background:0 0;position:absolute;right:10px;bottom:0;padding:.6rem!important}.search-block .search-icon .icon-search:before{color:#dd5da3}.search-block label{opacity:.8;font-weight:700;position:absolute;bottom:.6rem;left:30px;transition:all .1s ease-in-out;color:#444;z-index:1}.search-block label.move{opacity:.4;font-size:10px;bottom:1.5rem;left:23px}.sub-block>div{border:1px solid #b8ce32;padding:.6rem}.sub-block input[type=email]{background-color:#f3f3f3!important;width:100%!important;margin:0!important}.sub-block label{opacity:.8!important;bottom:.6rem!important;left:30px!important;top:inherit!important}.sub-block label.move{opacity:.4!important;font-size:10px!important;bottom:1.5rem!important;left:23px!important}.sub-block .wpcf7-radio{padding-top:10px;display:flex;flex-direction:column}.sub-block .wpcf7-radio span.wpcf7-list-item-label:before{border-color:#f3f3f3;background-color:#f3f3f3;margin-top:3px}.sub-block input[type=submit]{margin-top:10px}.sub-block div.wpcf7 .ajax-loader{display:block;margin:0 auto}.sub-block .showErrorEmail{position:absolute;font-size:.6rem}.contact-page-form input[type=text],.contact-page-form input[type=email],.contact-page-form input[type=date],.contact-page-form input[type=number],.contact-page-form textarea,.popup-form input[type=text],.popup-form input[type=email],.popup-form input[type=date],.popup-form input[type=number],.popup-form textarea{background-color:#f3f3f3}.contact-page-form .wpcf7-radio span.wpcf7-list-item-label:before,.popup-form .wpcf7-radio span.wpcf7-list-item-label:before{background-color:#F3f3f3;border-color:#F3f3f3}.contact-page-form label,.popup-form label{opacity:.8!important}.contact-page-form label.move,.popup-form label.move{opacity:.4!important;font-size:10px!important}@media screen and (max-width:1199px){.contact-page-form label[for=radio-196],.popup-form label[for=radio-196]{display:block;width:100%}}.contact-page-form .not-text label,.popup-form .not-text label{font-weight:700;color:#237e90;font-size:1rem}.contact-page-form h3,.popup-form h3{color:#237e90;padding:0 .5rem}.contact-page-form h4,.popup-form h4{padding:0 .5rem}.multi-form{padding:20px}.multi-form fieldset.active{opacity:1;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;transition-delay:.3s}.multi-form fieldset:not(.active){position:absolute;opacity:0;top:0;z-index:-1;transform:translate(-100%);-webkit-transform:translate(-100%);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.multi-form fieldset.active~fieldset{transform:translate(100%);-webkit-transform:translate(100%)}.multi-form .buttons a{cursor:pointer;display:inline-block}.multi-form fieldset.active:first-of-type~.buttons .prev,.multi-form fieldset.active:first-of-type~.buttons .submit,.multi-form fieldset.active:last-of-type~.buttons .next,.multi-form fieldset.active:not(:last-of-type)~.buttons .submit{display:none}.multi-form .step-counter{margin:0 auto}.multi-form .step-counter a{display:inline-block;padding:.5rem 1.2rem;color:#313d40;font-weight:700;font-size:1.3rem;border-radius:6px;transition:all .3s}.multi-form .step-counter a.active{background-color:#dd5da3;color:#FFF}@media screen and (max-width:768px){.multi-form .step-counter a{font-size:1rem}}@media screen and (max-width:500px){.multi-form .step-counter a{font-size:.7rem;padding:.3rem .8rem}}@media screen and (max-width:992px){.multi-form span.wpcf7-list-item{display:flex;margin:0}}.multi-form .wpcf7 .not-text{padding:.2rem 0}.popup-form{background:#FFF;padding:1rem 2rem 1rem 1rem;border-radius:6px}.popup-form h2,.popup-form p{padding:0 .5rem}.popup-form label{pointer-events:none}.popup-form p{margin:0}.popup-form .ajax-loader{display:block;margin:0 auto}.popup-form input[type=submit]{background:#237e90!important;background:-moz-linear-gradient(-45deg,#237e90 0,#1e6c7b 85%)!important;background:-webkit-linear-gradient(-45deg,#237e90 0,#1e6c7b 85%)!important;background:linear-gradient(135deg,#237e90 0,#1e6c7b 85%)!important;filter:progid:DXImageTransform.Microsoft.gradient startColorstr="$sea-blue" , endColorstr="darken( $sea-blue, 5% )" , GradientType=1!important;box-shadow:0 0 0 2px rgba(35,126,144,.3),1px 1px 0 1px rgba(255,255,255,.8),inset -1px -1px 2px 2px rgba(0,0,0,.1),inset 2px 1px 1px 1px rgba(255,255,255,.3)!important}.popup-form input[type=submit]:hover{color:#FFF!important;background:#237e90!important}.wpcf7-response-output{font-size:.8rem}.showError,.showErrorEmail,.wpcf7-not-valid-tip{color:#c00;font-size:.7rem;margin:-.5rem .5rem 0;padding:.2rem;width:100%;font-weight:700}div.wpcf7-mail-sent-ok{border-color:#b8ce32;border-radius:7px}div.wpcf7-validation-errors{border-radius:7px}.wpcf7-not-valid-tip{display:block}.hideError,.hideErrorEmail{display:none!important}.showError,.showErrorEmail{display:block}a,a:visited{color:#dd5da3}a:active,a:focus,a:hover{color:#b8ce32}a:focus{outline:dotted thin}.site-header{background:#FFF;padding:.5rem 15px;width:100%;position:fixed;z-index:10;transition:all .3s}.site-header .phone-menu-scroll{display:none}.site-header .phone-menu-scroll a{color:#dd5da3}.site-header .get-started a:first-child{color:#313d40}@media screen and (max-width:767px){.site-header .container{max-width:100%!important}}.site-header.shrink{height:42px;padding:.1rem 15px;font-size:.9rem}@media screen and (min-width:768px){.site-header.shrink .custom-logo-link img{max-width:160px;margin-top:.5rem}}@media screen and (min-width:992px){.site-header.shrink .custom-logo-link img{max-width:180px;margin-top:.5rem}}.site-header.shrink .mobile-nav-toggle{font-size:20px}.site-header.shrink .phone-menu-scroll{display:block}.site-header.shrink .get-started{display:none}.site-header.shrink .menu-header-menu-container{margin-top:6px}@media screen and (min-width:768px){.site-header.shrink .menu-header-menu-container{margin-top:8px}}@media screen and (min-width:992px){.site-header.shrink .menu-header-menu-container{margin-top:6px}}@media screen and (max-width:992px) and (min-width:768px){.site-header.shrink .main-navigation li:not(:nth-child(2)) a:before{padding-left:5px;padding-right:5px}}.custom-logo-link{position:absolute;z-index:5}.custom-logo-link img{margin-top:10px;max-width:150px}@media screen and (min-width:500px){.custom-logo-link img{margin-top:0;max-width:250px}}@media screen and (min-width:992px){.custom-logo-link img{max-width:290px}}.main-navigation{clear:both;display:block;width:100%}.main-navigation ul ul a,.menu-footer-menu-container ul ul a{width:200px}.main-navigation ul{list-style:none;margin:0;padding-left:0;font-weight:700;text-transform:lowercase}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{left:100%}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li{float:left;position:relative}.main-navigation li:not(:nth-child(2)) a:before{content:'•';padding-left:8px;padding-right:8px;color:#b8ce32}.main-navigation li.current-menu-item a{color:#b8ce32}.main-navigation a{display:block;text-decoration:none;color:#313d40}.get-started{font-size:.8rem;font-weight:700;margin-right:1rem}.get-started a{display:inline;color:#dd5da3}.footer-menu{background:#313d40;padding:1rem}.footer-menu a{color:#FFF}.menu-footer-menu-container ul{list-style:none;margin:0;padding-left:0;font-weight:700;text-transform:lowercase;display:flex;justify-content:center}.menu-footer-menu-container ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.menu-footer-menu-container ul ul ul{left:-999em;top:0}.menu-footer-menu-container ul ul li.focus>ul,.menu-footer-menu-container ul ul li:hover>ul{left:100%}.menu-footer-menu-container ul li.focus>ul,.menu-footer-menu-container ul li:hover>ul{left:auto}.menu-footer-menu-container li{float:left;position:relative}.menu-footer-menu-container li:not(:nth-child(1)) a:before{content:'•';padding-left:8px;padding-right:8px;color:#b8ce32}.footer-lower{color:#FFF;background:#237e90;padding:1rem 0}.footer-lower .CPA,.footer-lower .nt-white{max-height:100px;width:100%}@media screen and (max-width:768px){.footer-lower .CPA,.footer-lower .nt-white{max-height:none;height:auto;width:100%;max-width:150px;margin:0 2rem}.footer-lower h4{text-align:center;margin-bottom:.5rem}.footer-lower .container{width:100%;max-width:none}}.footer-lower .info-container{flex-direction:column}@media screen and (min-width:666px) and (max-width:768px){.footer-lower .info-container{width:auto;flex-direction:row}}.footer-lower .social a{display:inline-flex;align-items:center;justify-content:center;width:30px;height:30px;margin:0 .2rem 1rem;border-radius:25px;color:#FFF;background:#dd5da3!important;background:-moz-linear-gradient(-90deg,#dd5da3 60%,#d84495 85%)!important;background:-webkit-linear-gradient(-90deg,#dd5da3 60%,#d84495 85%)!important;background:linear-gradient(90deg,#dd5da3 60%,#d84495 85%)!important;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='darken( $pink, 6% )', GradientType=1)!important;box-shadow:0 0 0 2px rgba(0,0,0,.3),0 1px 0 0 rgba(255,255,255,.8),inset 0 2px 2px 2px rgba(0,0,0,.1),inset 0 2px 1px 1px rgba(255,255,255,.3)}.footer-lower .social a:hover{color:#FFF;background:#dd5da3!important}.footer-lower .tel{color:#b8ce32;font-weight:700}.footer-bottom{background:#313d40;padding:.5rem;color:#FFF}.main-navigation ul{display:none}@media screen and (min-width:768px){.menu-toggle{display:none}.main-navigation ul{display:flex;flex-direction:row}}#mobilenav,#mobilenav .phone-menu-scroll{display:none}#mobilenav{width:100%;height:100%;z-index:11;position:fixed;background:rgba(0,0,0,.4);font-size:20px;font-weight:700;animation:opac .8s}#mobilenav .mobile-nav-close{padding:1rem}#mobilenav .mobile-nav-wrapper{border:1px solid #DDD;margin:0 auto;background:#FFF;width:100%;height:100%;max-width:250px;max-height:330px}#mobilenav .mobile-nav-header{text-align:right}#mobilenav ul{margin:0}#mobilenav ul li{list-style-type:none;padding:5px 0}#mobilenav ul li a{text-decoration:none;color:#313d40;text-transform:lowercase}#mobilenav ul li.current-menu-item a{color:#b8ce32}.mobile-nav-toggle{font-size:24px;background:0 0;border:3px solid #313d40!important;border-radius:7px;padding:0!important;color:#313d40!important}.phone-menu-icon{font-size:24px;color:#dd5da3}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{display:block;margin-left:auto;margin-right:auto}.hentry,.widget{margin:0 0 1.5em}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.widget select{max-width:100%}.sticky{display:block}.updated:not(.published){display:none}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{margin:0 0 1.5em}#page{overflow-x:hidden}.slide{height:480px;width:100%}.slide .slide-content{padding-left:12%;color:#FFF;padding-top:30%}.slide .slide-content h1{font-size:2rem}.slide .slide-content .btn{display:inline-block}@media screen and (min-width:500px){.slide .slide-content{padding-top:20%}}@media screen and (min-width:768px){.slide .slide-content{padding-top:10%;max-width:400px}.slide .slide-content h1{font-size:2.5rem}}@media screen and (min-width:800px){.slide .slide-content{max-width:500px}}@media screen and (min-width:992px){.slide .slide-content{padding-top:5%;max-width:600px}.slide .slide-content h1{font-size:3rem}}@media screen and (min-width:1100px){.slide .slide-content{padding-top:100px;max-width:800px}}.benefits .image img,.package{max-width:300px}.testimonial-item{width:70%;margin:0 auto;text-align:center;height:auto;padding:1rem 0}.testimonial-item p{width:60%;margin:1.5rem auto}.owl-dots{z-index:2;position:absolute;top:90%;display:flex;justify-content:center;width:100%}.owl-dot{width:10px;height:10px;margin:.2rem;background:#FFF;display:block;border-radius:50%}.owl-dot.active{background:#b8ce32}.owl-nav{position:absolute;top:35%;width:100%;font-size:36px}.owl-nav .owl-prev{position:absolute;left:0}.owl-nav .owl-next{position:absolute;right:0}.about{box-shadow:1px 12px 35px -7px #DDD;-webkit-box-shadow:1px 12px 35px -7px #DDD;-moz-box-shadow:1px 12px 35px -7px #DDD;-o-box-shadow:1px 12px 35px -7px #DDD}.package{display:inline-flex;flex-direction:column;background:#FFF;box-shadow:0 0 5px #888}.package .header{text-align:center;background:#333;color:#FFF;padding-bottom:1rem;display:flex;flex-direction:column}.package .header h4{font-size:2rem;margin:auto 0 -.5rem;font-weight:400}.package .header h3{font-size:2.5rem;margin:0}.package .header small{margin-top:-.5rem;text-transform:uppercase}.package .desc{display:flex;flex-direction:column;padding:1rem;font-size:.8rem;font-weight:700;min-height:150px}.package .desc .btn{margin-top:auto}.package .btn{width:100%;display:block;text-align:center}.about,.benefits{padding:3rem 0;overflow:hidden}.about .video-thumb{display:flex;align-items:center;text-align:center}.about .video-thumb a{margin:0 auto}.pricing{margin-bottom:3rem;background-position:top!important}.pricing .supernanny{position:absolute;top:40px;z-index:-1}@media screen and (min-width:768px){.package .desc{min-height:195px}.benefits .image img{max-width:350px}.pricing .supernanny{left:-69px}}@media screen and (min-width:992px){.pricing .supernanny{left:-54px}}@media screen and (min-width:1192px){.pricing .supernanny{left:36px}}.package-green{left:15%}.package-green .header{background-color:#b8ce32;height:140px}.package-pink{left:40%}.package-pink .header{background-color:#dd5da3;height:155px}.package-blue{left:65%}.package-blue .header{background-color:#237e90;height:170px}.internal-page-header{height:300px;background-color:#f3f3f3;background-size:cover;background-position:center;width:100%}.internal-page-header.customers{background-position:70% 25%}.internal-page-header h1{vertical-align:middle;padding-top:140px;color:#fff}.internal-page-header:after{content:'';position:relative;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.2)}.internal-page-header.contact{height:200px}.internal-page-header.contact h1{color:#000;padding-top:90px}.internal-page-header.company{background-position:top center}.mini-internal-page-header{min-height:150px;background-color:#f3f3f3;padding:60px 0 10px}.mini-internal-page-header h1{vertical-align:middle}.page-intro{box-shadow:1px 12px 35px -7px #DDD;-webkit-box-shadow:1px 12px 35px -7px #DDD;-moz-box-shadow:1px 12px 35px -7px #DDD;-o-box-shadow:1px 12px 35px -7px #DDD}.testimonials{background:url(http://nannytax.clients.edenadvertising.com/wp-content/themes/nannytax/public/assets/images/testimonials-bg.jpg);background-size:cover;color:#FFF;font-style:italic;height:290px;display:flex;align-items:center}.testimonials a{font-style:normal}.video-section{background-repeat:no-repeat;background-size:contain}@media screen and (max-width:768px){.video-section{background:0 0!important}}.display-pic{color:#237e90;text-align:center}.display-pic h4,.display-pic h5{margin:0}.display-pic img{margin-top:1rem}.testimonials-section .item:first-child{padding:0 0 3rem}.testimonials-section .item:not(:first-child){box-shadow:0 2px 12px 0 #DDD;-webkit-box-shadow:0 2px 12px 0 #DDD;-moz-box-shadow:0 2px 12px 0 #DDD;-o-box-shadow:0 2px 12px 0 #DDD;padding:3rem 0}.testimonials-section .item article[aria-expanded=false]:after{content:"";text-align:right;position:absolute;bottom:20px;right:0;width:100%;height:5em;background:-webkit-linear-gradient(top,rgba(255,255,255,0),#FFF 100%);background:linear-gradient(180deg,rgba(255,255,255,0),#FFF 100%);transition:all 1s;pointer-events:none}.testimonials-section .item h2,.testimonials-section .item h5{font-weight:400;margin:0}.testimonials-section .item blockquote{margin:0;border-left:3px solid #dd5da3;font-style:italic;padding:.5rem;font-size:1.4rem}.testimonials-section .item blockquote p{margin-left:1rem}.testimonials-section .item img{object-fit:cover;height:150px;width:150px;border-radius:50%;padding:3px;box-shadow:0 0 0 3px #b8ce32}@media screen and (min-width:576px) and (max-width:768px){.testimonials-section .item img{height:100px;width:100px}}.pricing_table{margin:0}.pricing_table .supernanny{position:absolute;top:-30px;z-index:-1}@media screen and (min-width:768px){.pricing_table .supernanny{left:84px}}@media screen and (min-width:992px){.pricing_table .supernanny{left:138px}}@media screen and (min-width:1200px){.pricing_table .supernanny{left:177px}}.pricing_table .icon-ok{color:#b8ce32}.pricing_table td:not(:last-child){box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3);-webkit-box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3)}.pricing_table td:not(:first-child){text-align:center}.pricing_table td.pre-header{box-shadow:none;vertical-align:bottom}.pricing_table td.pre-header div{height:140px;box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3);-webkit-box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3)}.pricing_table td.table-header{width:26%;vertical-align:bottom;box-shadow:none}.pricing_table .package-header{text-align:center;background:#333;color:#FFF;padding-bottom:1rem;display:flex;flex-direction:column}.pricing_table .package-header:not(.blue){box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3);-webkit-box-shadow:inset -4px 0 4px -3px rgba(0,0,0,.3)}.pricing_table .package-header h4{font-size:2rem;margin:auto 0 -.5rem;font-weight:400}.pricing_table .package-header h3{font-size:2.5rem;margin:0}.pricing_table .package-header small{margin-top:-.5rem;text-transform:uppercase}.pricing_table .package-header.green{height:140px;width:100%;background-color:#b8ce32}.pricing_table .package-header.pink{height:155px;background-color:#dd5da3}.pricing_table .package-header.blue{height:170px;background-color:#237e90}.pricing_table .descriptions td{padding:0 .7rem;font-size:.9rem;font-weight:700;vertical-align:top;text-align:left}.gallery-item,.wp-caption-text{text-align:center}@media screen and (max-width:768px){.pricing_table .package-header{height:140px!important;box-shadow:none!important;-webkit-box-shadow:none!important}.pricing_table .descriptions td{font-size:.7rem}}.pricing_table .descriptions td:not(:first-child){background-color:#FFF}.pricing_table .checklist tr:nth-child(odd){background:#f2f2f2}.pricing_table .checklist td{padding:.4rem}.pricing_table .checklist td:first-child{padding:.4rem .8rem;font-size:.9rem;font-weight:700}.pricing_table .checklist .footer td{padding:1rem 0}.pricing_table .checklist .footer td .btn{display:block;margin:0 auto;width:90%}@media screen and (max-width:768px){.pricing_table .checklist td:first-child{font-size:.7rem;width:90%}.pricing_table .checklist .footer td .btn{font-size:.7rem;text-align:center}}.pricing_table .checklist .footer-shadow{background:0 0!important}.pricing_table .checklist .footer-shadow td:first-child{box-shadow:none}.pricing_table .checklist .footer-shadow td:nth-child(2){background:0 0;box-shadow:inset 0 4px 4px -3px rgba(0,0,0,.3);-webkit-box-shadow:inset 0 4px 4px -3px rgba(0,0,0,.3)}.video-block div{height:70px}.video-block p{margin-left:5px}.video-block .image-wrapper{width:80px;max-width:50px;height:100%;overflow:hidden;max-height:50px}.video-block .image-wrapper img{width:100%;height:50px}.video-block a.video-thumb:after{max-width:30px;right:auto;top:auto;left:25px}.wp-caption,embed,iframe,object{max-width:100%}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.text-right{text-align:right!important}