// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Owl Carousel
--------------------------------------------------------------*/
#page{
    overflow-x: hidden;
}
.slide {
    height: 480px;
    width: 100%;
    background-position:60%;
    background-size:cover;
    .slide-content {
        padding-left: 12%;
        color: #FFF;
        h1{
            font-size:2rem;
        }
        .btn {
            display:inline-block;
            
        }
        padding-top:30%;
        @media screen and (min-width:500px){
            padding-top:20%;
        }
        @media screen and (min-width:768px){
            padding-top:10%;
            max-width:400px;
            h1{
            font-size:2.5rem;
        }
        }
        @media screen and (min-width:800px){
            max-width:500px;
        }
        @media screen and (min-width:992px){
            padding-top:5%;
            max-width:600px;
            h1{
            font-size:3rem;
        }
        }
        @media screen and (min-width:1100px){
            padding-top:100px;
            max-width:700px;
        }
        @media screen and (min-width:1100px){
            max-width:800px;
        }
    }
}

.testimonial-item {
    width: 70%;
    margin:0 auto;
    text-align: center;
    height: auto;
    padding: 1rem 0;
    p {
        width: 60%;
        margin: 1.5rem auto;
    }
}

.owl-dots {
    z-index: 2;
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.owl-dot {
    width: 10px;
    height: 10px;
    margin: 0.2rem;
    background: #FFF;
    display: block;
    border-radius: 50%;
    &.active {
        background: $green;
    }
}

.owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
    font-size: 36px;
    .owl-prev {
        position: absolute;
        left: 0;
    }
    .owl-next {
        position: absolute;
        right: 0;
    }
}

.about {
    box-shadow: 1px 12px 35px -7px #DDDDDD;
    -webkit-box-shadow: 1px 12px 35px -7px #DDDDDD;
    -moz-box-shadow: 1px 12px 35px -7px #DDDDDD;
    -o-box-shadow: 1px 12px 35px -7px #DDDDDD;
    h2 {}
    p {}
    .col-3 {
        &.video-thumb {}
    }
    
}


.package {
    display: inline-flex;
    flex-direction: column;
    max-width: 300px;
    background: #FFF;
    box-shadow: 0 0 5px #888888;
    .header {
        text-align: center;
        background: #333;
        color: #FFF;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        h4 {
            font-size: 2rem;
            margin: 0;
            margin-top: auto;
            margin-bottom: -0.5rem;
            font-weight: normal;
        }
        h3 {
            font-size: 2.5rem;
            margin: 0;
        }
        small {
            margin-top: -0.5rem;
            text-transform: uppercase;
        }
    }
    .desc {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 0.8rem;
        font-weight: bold;
        min-height: 150px;
        .btn {
            margin-top: auto;
        }
        @media screen and (min-width: 768px) {
            min-height: 195px;
        }

    }
    .btn {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.about,
.benefits {
    padding: 3rem 0;
    overflow: hidden;
}

.about .video-thumb {
    display: flex;
    align-items: center;
    text-align: center;
    a {
        margin: 0 auto;
    }
}

.benefits .image img {
    max-width: 300px;
    @media screen and (min-width: 768px) {
        max-width:350px;
    }
}

.pricing {
    margin-bottom: 3rem;
    background-position:top !important;
    .supernanny {
        position: absolute;
        top:40px;
        z-index:-1;
        @media screen and (min-width: 768px) {
            left:-69px;
        }
        @media screen and (min-width:992px) {
            left: -54px;
        }
        @media screen and (min-width:1192px) {
            left: 36px;
        }
    }
}

.package-green {
    left: 15%;
    .header {
        background-color: $green;
        height: 140px;
    }
}

.package-pink {
    left: 40%;
    .header {
        background-color: $pink;
        height: 155px;
    }
}

.package-blue {
    left: 65%;
    .header {
        background-color: $sea-blue;
        height: 170px;
    }
}

.internal-page-header {
    height: 300px;
    background-color: #f3f3f3;
    background-size: cover;
    background-position: center;
    &.customers {
        background-position: 70% 25%;
    }
    width: 100%;
    h1 {
        vertical-align: middle;
        padding-top: 140px;
        color: $white;
    }
    &:after {
        content: '';
        position: relative;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    &.contact {
        h1 {
            color: #000;
            padding-top: 90px;
        }
        height:200px;
    }
    &.company{
        background-position:top center;
    }
}
.mini-internal-page-header{
    min-height:150px;
    background-color:#f3f3f3;
    padding:60px 0 10px;
    h1 {
        vertical-align: middle;
    }
}
.page-intro {
    box-shadow: 1px 12px 35px -7px #DDDDDD;
    -webkit-box-shadow: 1px 12px 35px -7px #DDDDDD;
    -moz-box-shadow: 1px 12px 35px -7px #DDDDDD;
    -o-box-shadow: 1px 12px 35px -7px #DDDDDD;
}

.testimonials {
    background: url('../images/testimonials-bg.jpg');
    background-size: cover;
    color: #FFF;
    font-style: italic;
    height: 290px;
    display: flex;
    align-items: center;
    a {
        font-style: normal;
    }
}

.video-section {
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: 768px) {
        background:none !important;
    }
}

.display-pic {
    color: $sea-blue;
    text-align: center;
    h4,
    h5 {
        margin: 0;
    }
    img {
        margin-top: 1rem;
    }
}

.testimonials-section {
    .item {
        &:first-child {
            padding: 0 0 3rem;
        }
        &:not(:first-child) {

            box-shadow: 0px 2px 12px 0px #DDDDDD;
            -webkit-box-shadow: 0px 2px 12px 0px #DDDDDD;
            -moz-box-shadow: 0px 2px 12px 0px #DDDDDD;
            -o-box-shadow: 0px 2px 12px 0px #DDDDDD;
            padding: 3rem 0;
        }

        article[aria-expanded="false"]:after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 20px;
            right: 0;
            width: 100%;
            height: 5em;
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #FFF 100%);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0), #FFF 100%);
            transition: all 1s;
            pointer-events: none;
        }
        h2,
        h5 {
            font-weight: normal;
            margin: 0;
        }
        blockquote {
            margin: 0;
            border-left: 3px solid $pink;
            font-style: italic;
            padding: 0.5rem;
            font-size: 1.4rem;
            p {
                margin-left: 1rem;
            }
        }

        img {
            object-fit: cover;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            padding: 3px;
            box-shadow: 0 0 0 3px $green;
            @media screen and (min-width: 576px) and (max-width:768px) {
                height: 100px;
                width: 100px;
            }
        }
    }


}

.pricing_table {
    .supernanny{
            position: absolute;
    top: -30px;
    z-index: -1;
        @media screen and (min-width: 768px) {
            left:84px;
        }
        @media screen and (min-width:992px) {
            left:138px;
        }
        @media screen and (min-width:1200px) {
            left: 177px;
        }
    }
    .icon-ok {
        color: $green;
    }
    margin:0;
    td:not(:last-child) {
        box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
        -webkit-box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
    }
    td:not(:first-child) {
        text-align: center;
    }
    td.pre-header {
        box-shadow: none;
        vertical-align: bottom;
        div {
            height: 140px;
            box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
            -webkit-box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
        }
    }
    td.table-header {
        width: 26%;
        vertical-align: bottom;
        box-shadow: none;
    }
    .package-header {
        text-align: center;
        background: #333;
        color: #FFF;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;

        &:not(.blue) {
            box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
            -webkit-box-shadow: inset -4px 0 4px -3px rgba(0, 0, 0, 0.30);
        }
        h4 {
            font-size: 2rem;
            margin: 0;
            margin-top: auto;
            margin-bottom: -0.5rem;
            font-weight: normal;
        }
        h3 {
            font-size: 2.5rem;
            margin: 0;
        }
        small {
            margin-top: -0.5rem;
            text-transform: uppercase;
        }


        &.green {
            height: 140px;
            width: 100%;
            background-color: $green;
        }
        &.pink {
            height: 155px;
            background-color: $pink;

        }
        &.blue {
            height: 170px;
            background-color: $sea-blue;
        }
        @media screen and (max-width: 768px) {
            height:140px !important;
            box-shadow:none !important;
            -webkit-box-shadow: none !important;
        }
    }
    .descriptions td {
        padding: 0 0.7rem;
        font-size: 0.9rem;
        font-weight: bold;
        vertical-align: top;
        text-align: left;
        @media screen and (max-width: 768px) {
                    font-size:0.7rem;
                }
        &:not(:first-child){
            background-color:#FFF;
        }
    }
    .checklist {
        tr:nth-child(odd) {
            background: #f2f2f2
        }
        td {
            padding: 0.4rem;
            &:first-child {
                padding: 0.4rem 0.8rem;
                font-size: 0.9rem;
                font-weight: bold;
                @media screen and (max-width: 768px) {
                    font-size:0.7rem;
                    width:90%;
                }
            }
        }



        .footer td {
            padding: 1rem 0;
            .btn{
                display:block;
                margin:0 auto;
                width:90%;
                @media screen and (max-width: 768px) {
                    font-size:0.7rem;
                    text-align: center;
                }
            }
            
        }
        .footer-shadow {
                background: none !important;
            td:first-child{
                box-shadow:none;
            }
                td:nth-child(2) {
                    background: none;
                    box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.30);
                    -webkit-box-shadow: inset 0px 4px 4px -3px rgba(0, 0, 0, 0.30);
                }
            }
    }
}

.video-block{
    div{
        height:70px;
    }
    p{
        margin-left:5px;
    }
    .image-wrapper{
        width: 80px;
        max-width: 50px;
        height: 100%;
        overflow: hidden;
        max-height: 50px;
        img{
            width: 100%;
            height: 50px;
        }
    }
    a.video-thumb:after{
        max-width:30px;
        right:auto;
        top:auto;
        left:25px;
    }
}
.hp{
    display:none;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

@import "primary/comments";
